[2012-06-21 21:11] fedorov opened #2 "Round trip test should initialize the DICOM database before using it"

[2012-06-28 17:23] fedorov opened #3 "Ruler does not show up in the tree"
Steps to reproduce:
1) add volume and initialize the report
2) add fiducial and ruler
3) save as AIM
4) restart Slicer and reload

Tested with this commit of Reporting https://github.com/fedorov/Reporting/commit/fe512e54b3016ad38b94df3e44c060dda9352fea

and Slicer svn r20507.

[2012-06-28 17:27] fedorov opened #4 "Integrate DICOM SEG read/write with Logic"
consider adding a DICOM plugin for reading SEG -- todo discuss with Steve re consolidation of reading/writing of DICOM

[2012-06-28 17:30] fedorov opened #5 "Consider adding "Finding" tree element"
Use case: several lesions are identified in a given volume. Each lesion may be assigned several markup elements (segmentation, ruler). We need to be able to capture the fact that these correspond to the same "finding" (lesions).

[2012-06-28 17:32] fedorov opened #6 "Initialize AIM required header elements"
date, time, user ....

[2012-06-28 17:33] fedorov opened #7 "Connect standard terminology with the Slicer LUTs for saving DICOM SEG"

[2012-06-28 17:35] fedorov opened #8 "Detect non-supported annotation placement"
When annotation is placed in a plane that does not coincide with the acquisition plane, the user should be warned, and/or placement of such annotation should be halted.

[2012-06-30 21:08] #3 closed, assigned to naucoin

[2012-07-10 14:40] fedorov opened #9 "Wiki documentation"

[2012-07-10 14:41] fedorov opened #10 "Add tests for DICOM SEG"

[2012-07-11 22:06] fedorov opened #11 "Store basic measurements in the AIM report"
Per suggestion of Justin Kirby, it may be useful to store in AIM calculations such as lenght, volume, mean intensity for the markup elements. Need to decide what should be the behavior on load, do we need any extra gui elements to display those measurements.

[2012-07-11 22:44] #4 closed, assigned to fedorov

[2012-07-11 23:37] #5 closed, assigned to nobody

[2012-07-12 15:44] fedorov opened #12 "Fix testing when run outside Slicer tree"
Fix the cmakefiles

See related bug report: http://www.na-mic.org/Bug/view.php?id=2251

[2012-07-13 23:07] fedorov opened #13 "Redesign GUI to improve user experience while placing markups"
Add new GUI frame that would allow user to control placing markup. An idea for the design is the following:

* have 3 buttons: fiducial, ruler and segmentation
* when fiducial or ruler buttons are clicked, mouse pointer changes to signal the user about the active mode
* when segmentation is clicked, a frame with the components of Editor GUI is initialized

[2012-07-16 23:48] #2 closed, assigned to naucoin

[2012-07-16 23:49] #6 closed, assigned to naucoin

[2012-07-17 17:41] fedorov opened #14 "Add capability to attach imported segmentation to the report"
The use case is when the segmentation is created outside Slicer, loaded from say NRRD format, it should be supported to add this segmentation to the report, after the checks that the geometry matches the volume being annotated.

[2012-07-18 16:32] #8 closed, assigned to naucoin

[2012-07-19 18:49] fedorov opened #15 "Assign meaningful names"
Volumes -- series name
Report -- "Report for Volume volumeName"
Markup elements -- " annotatedStructure_markupType"

[2012-07-19 18:51] fedorov opened #16 "Switching between multiple reports disrupts hierarchies"
Need to test use case when there are multiple reports in the scene, with different volumes annotated. Switching the active report should not mess up the hierarchies/tree view and the report serialization.

[2012-07-19 18:52] fedorov opened #17 "Provide capability to "bundle" report with the associated data"
The "bundle" can be just a directory where the xml of the AIM report would be saved together with the DICOM data referenced in the report. It can also include the LUT used for the report preparation.

[2012-07-19 18:58] fedorov opened #18 "Use the up-to-date git tag in the versioning of the code for AIM export"
We should use the same tag value as generated by cmake that is saved in s4ext file when extension is built (it is generated automatically when the extension is built outside slicer tree).

[2012-07-19 20:50] #15 closed, assigned to fedorov

[2012-07-21 23:22] #14 closed, assigned to fedorov

[2012-07-25 23:33] fedorov opened #19 "Add license"
distributed under slicer license, include it in the root

[2012-07-26 04:09] jcfr opened #20 "Remove unused class qSlicerReportingModuleWidget.h"
Since a `qSlicerScriptedLoadableModuleWidget` is created in `qSlicerReportingModule::createWidgetRepresentation()`, this file `qSlicerReportingModuleWidget.h` should probably be removed.

Ps: I observed that while currently working on slicer issue [2251](http://www.na-mic.org/Bug/view.php?id=2251)

[2012-07-26 09:18] jcfr opened #21 "Fix memory leaks occurring in python widget"

[2012-07-26 13:09] #19 closed, assigned to fedorov

[2012-07-26 13:10] #20 closed, assigned to nobody

[2012-07-28 02:52] jcfr opened #22 "Fix ReportingRoundTripTest.py"
Assigned this issue to @jcfr

The idea is to pass additonnal module settings as it is done [here](https://github.com/Slicer/Slicer/blob/master/Extensions/Testing/ScriptedLoadableExtensionTemplate/Testing/Python/CMakeLists.txt#L2)

[2012-07-28 03:51] jcfr opened #23 "Simplify how python tests access data"
Assigned this issue to @jcfr

The idea is to apply the mechanism used [here](https://github.com/Slicer/Slicer/blob/master/Applications/SlicerApp/Testing/Python/slicerappdatapaths.py.in)

[2012-07-29 16:25] #22 closed, assigned to nobody

[2012-07-30 16:32] #10 closed, assigned to fedorov

[2012-07-30 21:43] fedorov opened #24 "Fix memory leaks"
Normal operation of the module (create a report, add fiducial, ruler and segmentation, edit segmentation, save report into AIM) results  in numerous memory leaks. These need to be fixed.

There are no leaks in tests (on either Mac or Linux).

[2012-08-02 20:28] fedorov opened #25 "Check that only DICOM-based volume node is allowed to be in the report"

[2012-08-02 20:48] fedorov opened #26 "Support of multiframe DICOM"
If it is not supported, user should be prevented from being able to use it in the report.

Eventually, multiframe should be supported.

[2012-08-03 21:32] fedorov opened #27 "Integration of AIM XML IO into Slicer "Add data""
"Add data"/"save scene" should have an option to load/save a report in AIM XML, to provide consistent user experience. If there is a Report node, it should translate into a new line in "Save" dialog. "Add data" on an XML file should result in a new line added to the data list. We need to investigate if integration of such functionality is currently allowed for extensions by the slicer core archite

[2012-08-07 23:53] fedorov opened #28 "Support loading of the reports that contain Segmentation only"
Currently volumes are loaded before seg, and if there are none, report is not possible to load.

[2012-08-09 21:02] #25 closed, assigned to naucoin

[2012-08-12 13:24] #18 closed, assigned to fedorov

[2012-08-15 14:07] #9 closed, assigned to fedorov

[2012-08-16 02:53] fedorov opened #29 "Assign unique series numbers to the added DICOM SEG"
currently all SEGs are assigned series 1000

[2012-08-20 22:37] fedorov opened #30 "Initialize uniqueIdentifier tag ImageAnnotation"
Also, use this identifier as the name of the file.

Look into using DCMTK capabilities for generating the identifier. Look into source code of AIM API how it is generated there.

[2012-08-21 16:07] #30 closed, assigned to nobody

[2012-08-21 20:33] fedorov opened #31 "Support DICOM SEG export for Slicer labels"
Consider using this as an option when the scene is saved. Need to discuss with Steve.

If we agree such support makes sense, first need to implement support for multi-structure segmentation labels. With the current requirements of AIM, only one label needs to be supported, so this is a no-issue for AIM use case.

[2012-08-23 00:01] fedorov opened #32 "Labels selected and used for drawing do not match"
The label used by editor widget does not match the one selected in the annotation frame, this looks like a new buggy behavior. Need to look again into ColorBox and check with Steve how to use it correctly.

[2012-08-24 14:17] fedorov opened #33 "Deletion of report breaks the hierarchies"
Switching to new report leads to a crash

Thread 0 Crashed:  Dispatch queue: com.apple.main-thread
0   libqMRMLWidgets.dylib           0x0000000100672887 qMRMLSortFilterProxyModel::filterAcceptsRow(int, QModelIndex const&) const + 275 (qMRMLSortFilterProxyModel.cxx:172)
1   ...eportingModuleWidgets.dylib  0x0000000138ee1ba9 qMRMLSortFilterDisplayableHierarchyProxyModel::filterAcceptsRow(int, QMode

[2012-08-24 14:37] fedorov opened #34 "Propagate the update of annotation to existing markup elements"
right now if the user changes the annotation name, the existing markups still keep the original name

[2012-08-26 00:00] #17 closed, assigned to nobody

[2012-09-08 20:27] #32 closed, assigned to nobody

[2012-09-28 13:35] fedorov opened #35 "Optimize pixel traversal for SEG initialization"
GetScalarAsFloat() is very slow -- need to replace by directly accessing the buffer

[2012-10-10 14:31] #35 closed, assigned to nobody

[2012-10-19 23:02] #16 closed, assigned to naucoin

[2012-10-19 23:10] #33 closed, assigned to naucoin

[2012-10-24 14:10] #12 closed, assigned to naucoin

[2012-11-01 13:58] #34 closed, assigned to nobody

[2012-11-04 02:49] fedorov opened #36 "Add self-test"

[2012-11-18 03:51] #36 closed, assigned to nobody

[2012-11-18 03:51] #31 closed, assigned to nobody

[2012-11-18 03:52] #24 closed, assigned to naucoin

[2012-11-18 03:52] #21 closed, assigned to fedorov

[2012-12-13 16:56] naucoin opened #37 "Fix failing py_LabelToDICOMSEGConverterSelfTest"
Running from command line ctest:
Traceback (most recent call last):
7:   File "/projects/birn/nicole/Slicer4/Reporting/Util/LabelToDICOMSEGConverter/Testing/Python/LabelToDICOMSEGConverterSelfTest.py", line 332, in test_LabelToDICOMSEGConverterRoundTrip
7:     module = slicer.modules.labeltodicomsegconverter.widgetRepresentation().self()
7: AttributeError: 'module' object has no attribute 'labelto

[2013-01-11 20:20] #37 closed, assigned to naucoin

[2013-01-22 16:46] #11 closed, assigned to nobody

[2013-12-05 15:44] jcfr opened #39 "Fix build error adding missing include"
See http://slicer.cdash.org/viewBuildError.php?buildid=174355

To learn more about the issue, see http://slicer-devel.65872.n3.nabble.com/Extension-If-creating-your-own-logic-in-C-consider-reading-this-tt4030436.html

[2013-12-09 02:20] #39 closed, assigned to nobody

[2014-10-10 01:39] fedorov opened #42 "Add special handling to images that have geometry inconsistencies"
Need to improve handling of the following 2 cases:

1. GUI usage of Reporting module, when an input label is selected, and its geometry (spacing, orientation, dimensions) do not match that of the input image. User should be given a warning about this situation, and should be given an option to create a new label (by resampling) that would match the geometry of the image.

2. For conversions of the

[2014-11-19 22:24] naucoin opened #44 "Allow use of GrowCut from Reporting GUI"
The GrowCut Editor effect needs to have two colors defined to run the segmentation. When you change the label parameter, it changes all non zero values on the segmentation volume to match that new label.
Look at the Reporting logic PropagateFindingUpdateToMarkup and see if it can be extended to support multiple labels for this one case.
A possible work around of jumping to the editor doesn't work,

[2015-01-29 21:38] naucoin commented on #42
Updates made to Slicer to avoid the false positives in the geometry check:
https://github.com/Slicer/Slicer/commit/9fe70aaf70e7e24081c20e7eff7fba236eed5108

[2015-01-30 01:30] pieper commented on #42
Nice!

On Thu, Jan 29, 2015 at 4:38 PM, Nicole Aucoin <notifications@github.com>
wrote:

[2015-01-30 14:57] fedorov commented on #42
Thanks Nicole! Are all the pieces in the nightly so we can check with Jayashree that she is satisfied with the result?

[2015-01-30 16:43] naucoin commented on #42
The pieces are in the Slicer nightly, but the pull request for Reporting hasn't been integrated yet: https://github.com/fedorov/Reporting/pull/45

[2015-01-30 21:11] fedorov commented on #42
Are you waiting for me to review and merge it?

[2015-01-30 21:46] naucoin commented on #42
@fedorov Yes

[2015-01-30 22:42] fedorov commented on #42
Ok, I didn't realize that. You merged some pull requests in the past, so I thought you would do the same here. I will review and comment/merge.

[2015-01-31 00:07] naucoin commented on #42
I was more waiting on the review, sorry I wasn't clear, I wanted to be sure I hit all the to-do points for this issue.

[2015-03-25 23:14] naucoin commented on #42
I updated my github branch to use vtkImageCast and to test the converter script. I ended up having to take out the try block in order to debug it, and checked it in like that. I think that it's more important to know why the script failed since any exceptions were treated generically ("An error has occurred" was the only print out). @fedorov if you don't agree, I can put it back in.

[2015-03-25 23:28] naucoin commented on #42
Also: it's only ensuring the cast is done after the resample, do you want to always check and cast the label map to unsigned short?

[2015-03-26 14:07] fedorov commented on #42
that's fine

since resampling is always done (at least that's how it was in my code), the cast is always applied.

[2015-03-26 15:17] naucoin commented on #42
In my rewrite, the resampling is only done if there's a geometry mismatch, and a geometry mismatch is not detected if the scalar types don't match. Your comment from Oct 29th might have been conflating the GUI version vs the automatic script. I'll do another fix that always checks the label volume type no matter if it's been resampled or not, and ensures that it's unsigned short.

[2015-03-26 15:21] fedorov commented on #42
I do not see harm in always resampling unless user says "no", to simplify the code and get this issue finally resolved.

The way I thought about geometry checks is just the means to detect a situation when the user needs to be alerted, and have an option to not proceed with using a label when geometry checks identified a situation with an invalid input label selected.

[2015-03-26 15:22] naucoin commented on #42
But this specific case is for the command line script that doesn't do user input.

[2015-03-26 15:34] fedorov commented on #42
Oh, I see, you are saying "a geometry mismatch is not detected if the scalar types don't match". Not sure why is that, but if that is the case, sounds like cast should always be done in the script prior to geometry checks.

It probably makes sense to add a command line flag to the converter (-F for "force"?) to ignore geometry inconsistencies, and abort conversion if no such flag is specified and

[2015-03-26 15:52] naucoin commented on #42
Scalar type isn't related to the geometry of the volume, just the contents.
I'll pull the cast out of the resample logic and add a command line flag.

[2015-03-26 19:30] naucoin commented on #42
Change me, could you please double check that's what you meant?

[2015-03-26 19:38] fedorov commented on #42
Ok, although using something like ![argparse](https://docs.python.org/3/library/argparse.html) would be more robust (and more user-friendly), now that the number of arguments is not fixed.

Example: https://www.assembla.com/code/slicerrt/subversion/nodes/2178/trunk/SlicerRt/src/BatchProcessing/BatchContourConversion.py#ln281

[2015-04-01 17:59] naucoin commented on #42
I think it's ready, here's the pull request:
https://github.com/fedorov/Reporting/pull/45

[2015-04-12 02:45] #44 closed

[2015-04-12 02:46] #7 closed

[2015-04-12 02:46] #13 closed

[2015-04-12 02:46] #26 closed

[2015-04-12 02:46] #27 closed

[2015-04-12 02:46] #28 closed

[2015-04-12 02:46] #29 closed

[2015-04-12 02:47] fedorov opened #48 "Segmentation DICOM plugin does not load"
testing with April 9 nightly, the plugin fails to load with the following:

[code]

@naucoin can you investigate?

There were no changes to the plugin, and DICOMPlugin is imported from DICOMLib

[2015-04-13 15:43] naucoin commented on #48
I had noticed that in some of the tests and thought I'd found a work around but I wasn't seeing it in my dev version. I rebuilt Reporting this morning from scratch and the plug in isn't loading with the same error, so I can dig into it more now.

[2015-04-13 17:23] pieper commented on #48
Hola! - I'll bet this is related to the recent changes by @jcfr regarding
python namespaces.
On Apr 13, 2015 10:43 AM, "Nicole Aucoin" <notifications@github.com> wrote:

[2015-04-13 17:23] naucoin commented on #48
@pieper thanks for the tip!

[2015-04-13 17:33] jcfr commented on #48
The problem is here: https://github.com/fedorov/Reporting/blob/e787f9ba83432b45578595e8720baf48c746c32d/Py/DICOMSegmentationPlugin.py#L6-L15

You are basically importing `DICOMLib` but using directly `DICOMPlugin`.

As done in [1], change

[code]

with

[code]

For sake of consistency, you could also add

[code]

and change

`DICOMLib.DICOMLoadable` into `DICOMLoadable`

Hth
Jc

[1] https://github

[2015-04-13 17:39] naucoin commented on #48
Thanks, I had just made that change and was testing it, seems good so I'll get it uploaded.

[2015-04-13 18:05] naucoin commented on #48
Pull request for extensions index:
https://github.com/Slicer/ExtensionsIndex/pull/941

[2015-09-03 18:29] fedorov opened #52 "Review ClearCanvas plugin terminology for reuse"
See

Segmentation/Configuration/AnatomicRegionAndModifier.xml
Segmentation/Configuration/SegmentationCategoryTypeModifier.xml

in https://github.com/fedorov/ClearCanvas-AimPlugin4.5

[2015-09-03 18:30] fedorov commented on #42
#45 was merged, so this one can be closed

[2015-09-03 18:30] #42 closed

[2015-09-03 18:30] #48 closed

[2015-09-03 18:32] fedorov commented on #23
@jcfr can you clarify what was the issue, and if you still plan to work on this? The link in "here" is dead ...

[2015-09-03 18:33] fedorov commented on #52
https://github.com/fedorov/ClearCanvas-AimPlugin4.5/blob/master/Segmentation/Configuration/AnatomicRegionAndModifier.xml
https://github.com/fedorov/ClearCanvas-AimPlugin4.5/blob/master/Segmentation/Configuration/SegmentationCategoryTypeModifier.xml

[2015-09-03 19:00] jcfr commented on #23
Looking at this link works: https://github.com/jcfr/Reporting/commit/3414d8e668f1a012c3694f08e109122e5b6be51e

Just wanted to point a possibly simpler approach to access testing data from within python tests

[2015-09-04 13:46] fedorov commented on #52
To clarify this issue, anatomic region and segmentation category need to be populated in DICOM SEG, see here as an example: https://github.com/QIICR/Iowa2DICOM/blob/master/ConvertSegmentations/EncodeSEG.cxx#L346-L352

The idea is to have a free text dynamic search based on code meaning for the the region and modifier, and for category and its modifier. It is a quite long list, and I don't know how

[2015-09-04 13:55] naucoin commented on #52
The Models module has a "scroll to" search box, and the color picker pop up also has a search box, so there are some examples I can follow.

[2015-09-04 16:48] fedorov commented on #52
The module search box in the mail toolbar is also a good one.

[2015-09-10 19:44] naucoin commented on #52
@fedorov: after our meeting today, my understanding of the phases of this change are:

1. Add information (non-editable) to the Editor Module under the color picker Label widgets that show the color name, value and color to show the terminology that has been looked up:
Category: [       ] Modifier: [     ]
Region: [    ]   Modifier: [     ]
When the user picks a color, the informatin is updated, b

[2015-09-10 20:05] fedorov commented on #52
Yes, this is good. Few clarifications:

 - connection between color LUT and terminology is currently maintained in a separate LUT, which at the moment is defined by a file in Reporting just for GeneralAnatomy
 - if a given color LUT has a terminology LUT, then correspondence between label ID/color and the term is fixed, but otherwise user should be able to define correspondence as needed
 - yes, i

[2015-09-27 18:45] fedorov opened #53 "Improve naming of the loaded label nodes"
from Steve:

[2015-10-09 22:28] naucoin commented on #52
For clarification, in the Reporting implementation there's a structure with:
SegmentedPropertyCategory
SegmentedPropertyType
SegmentedPropertyTypeModifier

Can you explicity map out the correspondence for me between these values and the Category, Category Modifier?
I'm also assuming you want to see the CodeMeaning rather than the Value or SchemeDesignator?

[2015-10-12 13:06] fedorov commented on #52
It seems to me that SegmentationCategoryTypeModifier.xml alone will be enough to map something like Slicer GenericAnatomyColors (http://www.slicer.org/slicerWiki/index.php/Documentation/Nightly/Extensions/Reporting). You have a list of categories, then depending on a category you initialize type selector, and depending on category/type, you initialize the modifier selector.

AnatomicRegion + modif

[2015-10-29 21:37] naucoin commented on #52
@fedorov I refactored the color logic[1] to provide an API to create new terminology mappings for color nodes. The commit message includes a python example, calling AddTermToTerminology will create a new mapping if it doesn't exist for the given LUT and then create the structures needed to add the passed strings to the terminology. I'm still considering breaking it down more (like allowing adding

[2015-11-02 21:41] fedorov commented on #52
@naucoin here is the branch of Reporting updated to read SEG objects with multiple segments: https://github.com/fedorov/Reporting/tree/refactor-to-new-dcmtk

The specific location you need to update to hook up color and terminology are here: https://github.com/fedorov/Reporting/blob/refactor-to-new-dcmtk/Py/DICOMSegmentationPlugin.py#L124-L130

Let's discuss sometime soon. I think it should be rel

[2015-11-02 21:45] naucoin commented on #52
Looks straight forward. Do you have a sample .info file?

[2015-11-02 21:50] fedorov commented on #52
The text in the comment in the code is literally cut and paste from the info file.

I will send you a sample SEG so you can generate one.

[2015-11-03 02:24] fedorov commented on #52
Nicole, I sent you a sample SEG with 10 segments by email. With the branch I referenced, you should be able to import it into the DICOM browser, and load all 10 segments as separate labels.

[2015-11-03 14:47] naucoin commented on #52
I built your branch and tried to load the tumor_User1_Manual_Trial1.dcm file, working through a few issues in the code (it crashed because I usually start without CLIs loaded, debugging a labelName missing issue).

[2015-11-03 14:49] fedorov commented on #52
You cannot start without CLIs loaded, the plugin is dependent on the SEG2NRRD CLI bundled in the extension.

[2015-11-03 14:57] naucoin commented on #52
It shouldn't crash though, so I'm putting in a warning.

[2015-11-05 17:19] fedorov commented on #52
FYI here's how "SEG browsing" interface looks like in ClearCanvasAIM

![image](https://cloud.githubusercontent.com/assets/313942/10975947/7e7764b0-83b7-11e5-8858-63887385bb22.png)

[2015-11-05 17:24] fedorov commented on #52
As a side note, I have to admit I like a lot how units are natively connected with the measurements in ClearCanvas:

![image](https://cloud.githubusercontent.com/assets/313942/10976110/35029d1c-83b8-11e5-903f-acfd1fd02b7e.png)

[2015-11-05 22:44] naucoin commented on #52
SEG2NRRD uses the voxel value 1 for all segmentations, so the color mapping isn't working correctly. Any objections to me changing it to use the segmentId or does it need to be filled with just 0 and 1 values?
https://github.com/fedorov/Reporting/blob/refactor-to-new-dcmtk/SEGSupport/SEG2NRRD.cxx#L340

[2015-11-05 22:53] naucoin commented on #52
Setting the color table color names to the full terminology is not working well with the data probe, the screen capture shows how it was expanded after I moused over the segment.
![terminologyincolornames](https://cloud.githubusercontent.com/assets/289054/10984210/f4a7a522-83e5-11e5-94d9-ef4a799624a2.jpg)

[2015-11-05 22:56] naucoin commented on #52
Updated editor with Region
![termwithregionineditor](https://cloud.githubusercontent.com/assets/289054/10984319/8c756a9c-83e6-11e5-85b7-0401c228625d.jpg)

[2015-11-06 01:56] fedorov commented on #52
OK to assign segment number in place of 1.

Yes, the names are too long. I think the best alternative is to have a specialized term browser. But I think this is not immediate priority. For now, maybe you can look into setting full term names as tooltips for the colors table rows?

[2015-11-06 15:19] naucoin commented on #52
I know I could do a right click on the color table rows to pop up terms, I'll have to look into tool tips. Another option would be to have the same set  up as in the editor where when you click on a color in the colors module, it updates the terminology widgets. I'd probably translate the editor scripted panel into a c++ widget that can be more easily reused in that case though.

[2015-11-06 20:26] fedorov commented on #52
Table items tooltips: http://doc.qt.io/qt-4.8/qtablewidgetitem.html#setToolTip

[2015-11-06 20:27] fedorov commented on #52
I would also prefer single column for displaying the items, and as discussed, full terminology concatenation should not show up in the DataProbe.

[2015-11-09 23:11] naucoin commented on #52
Tool tips in the Colors module:
https://github.com/naucoin/Slicer/commit/5090979853da5c8be5fd1721edac2e1593b64f58

[2015-11-11 16:45] fedorov opened #59 "Add CIELab converters to Slicer color logic (?)"
CIELab conversion functions:
https://github.com/pieper/Reporting/blob/refactor-to-new-dcmtk/SEGSupport/SegmentAttributes.h

Example how they should be applied for two-way conversion: https://github.com/QIICR/Iowa2DICOM/blob/master/ConvertSegmentations/CIELabToRGBConvert.cxx

[2015-11-11 17:01] fedorov commented on #59
After more thought, we will do RGB to CIELab conversion in the EncodeSEG CLI

[2015-11-11 17:01] #59 closed

[2015-11-11 18:14] fedorov opened #62 "Add handling of RGB->CIELab conversion to EncodeSEG"

[2015-11-11 21:54] fedorov commented on #59
see followup in #62

[2015-11-11 22:06] #62 closed

[2015-11-11 22:07] fedorov commented on #62
@pieper this should be fixed now. I am not sure why the older code caused error for you - CIELab attribute seems to have been optional, at least that was the implementation intent.

I will quickly look at the geometry issue next.

[2015-11-11 23:42] naucoin commented on #52
@fedorov @pieper
Update and rebased against this evening's Slicer trunk, with renamed methods, some new utility methods and a minor bug fix that should avoid the issue Andrey mentioned on the hangout:
https://github.com/naucoin/Slicer/commit/5f6ef29d1e46647fb1dda7eabe6671c602ef845a
Topic branch:
https://github.com/naucoin/Slicer/tree/4047-Add-semantic-color-information-to-color-selector-in-editor

[2015-11-12 00:17] pieper commented on #52
The changes look great!  Some smallish things...

In the comment you have CodeValue,CodeMeaning,CodingSchemeDesignator, but
in the info file I believe it needs to be
CodeValue,CodingSchemeDesignator,CodeMeaning.  Is that the order thing you
meant?

Here's where they are parsed:

https://github.com/naucoin/Reporting/blob/master/SEGSupport/SegmentAttributes.h#L233-L238

So they should not be in the

[2015-11-12 16:27] naucoin commented on #52
@pieper
I double checked the .info file parsing in DICOMSegmentationPlugin.py and yes, it produced .info files of code value, coding scheme designator, code meaning
as well, I'll fix the order of the returned triple string. I'll also reorder things in the big AddTermToTerminology call as well as the data structure for clarity.

In SEGExporterSelfTest code, I hadn't figured out exactly what you wer

[2015-11-12 17:01] fedorov commented on #52
Let's bring the power of github here - including @dclunie!! :)

As a background for David - Slicer color tables were originally used to establish linkage between the segmentation pixel values, RGB color and essentially free-text label. GeneralAnatomy is one such lookup table that as you may remember we annotated with your help using SNOMED terminology (wiki.slicer.org/slicerWiki/index.php/Document

[2015-11-12 17:01] naucoin commented on #52
Looks like the DICOMSegmentationPlugin that I was starting from uses a slightly different format (from SEG2NRRD) than EncodeSEG.

DICOMSegmentationPlugin: file named label #.info, formatted with line breaks, one colon, comma separted:
RGBColor:128,174,128
AnatomicRegion:T-C5300,SRT,pharyngeal tonsil (adenoid)
AnatomicRegionModifier:code,scheme,meaning
SegmentedPropertyCategory:M-01000,SRT,Morpholo

[2015-11-12 17:05] fedorov commented on #52
We can switch SEG2NRRD to use the format used by EncodeSEG. If you look at EncodeSEG, it has code to parse those files that perhaps can be reused in Slicer. The reason EncodeSEG has that format is because inputs can have multiple labels. I was thinking to augment SEG2NRRD later with a capability to merge segments, so it will be handy as welll. We can do this later -- the format used by EncodeSEG i

[2015-11-12 17:17] naucoin commented on #52
This version of the .txt file from EncodeSEG lets the self test pass:
1;SegmentedPropertyCategory:T-D0050,SRT,Tissue;SegmentedPropertyType:T-D0050,SRT,Tissue;SegmentAlgorithmType:AUTOMATIC;SegmentAlgorithmName:SlicerSelfTest
Checked in as:
https://github.com/naucoin/Reporting/commit/77e89f0af243d587d3a5043b05b18b800a71148d
Relying on:
https://github.com/naucoin/Slicer/commit/ab484bf4e65894a42d48fa

[2015-11-13 00:34] naucoin commented on #52
Slicer pull request:
https://github.com/Slicer/Slicer/pull/408

[2015-11-13 20:59] fedorov commented on #52
@pieper things seem to work fine, so the only issue remaining is the support of export at the user level from the subject hierarchy.

[2015-11-14 13:44] pieper commented on #52
Great - now we're down to just the interface issues.  Putting it in the
Subject Hierarchy makes sense, but it might also be good to have a shortcut
in the Editor.  Let's make a concrete plan on Monday afternoon.

On Fri, Nov 13, 2015 at 3:59 PM, Andrey Fedorov <notifications@github.com>
wrote:

[2015-11-16 22:49] naucoin commented on #52
Infrastructure changes commited to Slicer:
https://github.com/Slicer/Slicer/commit/1f0a534f1979e008a371d6873438633be58ae227
http://viewvc.slicer.org/viewvc.cgi/Slicer4?view=revision&revision=24742

[2015-11-20 20:40] fedorov opened #67 "Use referenced series to populate referenced instances for SEG plugin"
Currently, only the slices that are referenced are loaded. However, for SEGs it usually makes sense to load all of the slices of the series to which referenced instances belong (those referenced instances may be the full list of series instances, or a subset, which is implementation dependent).

[2015-11-20 20:49] pieper commented on #67
At least within Slicer you would almost always load the full series (or at least a portion of it that corresponds to a MRML volume type).  For now it's an error condition of the segmentation doesn't match the referenced geometry.

[2015-11-20 20:52] fedorov commented on #67
This specific issue would not address your concern Steve, I was thinking about the feature where user is notified about the referenced series at the time segmentation is loaded.

I think the right thing to do would be to handle the situation of the incomplete volume in Editor - resample label user is trying to set to the master geometry if mismatch.

Note that the referenced instance sequence is n

[2015-11-26 19:09] fedorov opened #70 "Referenced series is not loaded when loading SEG"
Looks like this functionality got broken somewhere. More testing needed.

[2015-11-26 21:10] pieper commented on #70
Interesting. I tried once and it worked on my local build.
On Nov 26, 2015 1:09 PM, "Andrey Fedorov" <notifications@github.com> wrote:

[2015-11-26 22:54] fedorov commented on #70
Nevermind, I can't reproduce it, maybe I was using a wrong Slicer instance. Happy Thanksgiving!

[2015-11-26 22:54] #70 closed

[2015-11-26 22:56] pieper commented on #70
Happy thanksgiving!
On Nov 26, 2015 4:54 PM, "Andrey Fedorov" <notifications@github.com> wrote:

[2016-09-13 15:42] fedorov commented on #23
closing old issue as the extension is being restructured

[2016-09-13 15:42] #23 closed

[2016-09-13 15:43] fedorov commented on #67
The behavior was changed recently in the plugin to load the whole series, since handling selected slices led to geometric issues due to discontinuity introduced when multiple non-overlapping segments were present.

[2016-09-13 15:43] #67 closed

[2016-09-13 15:43] fedorov commented on #52
This issue is addressed separately by handling terminology directly in the new Segmentation Editor. This is under development by @cpinter

[2016-09-13 15:43] #52 closed

[2016-09-13 15:54] fedorov opened #74 "Design/requirements for the initial version of the new Reporting module"
There should be different modes of operation for annotation vs viewing (from existing SR data).

Annotation mode:
- [ ] ~~Save intermediate results as the user does annotation for fault-tolerance (not DICOM representation in the user-visible database interface)~~
- [ ] When user explicitly confirms completion or exists the module, export SEG and SR - when user finalizes
- [ ] (note for the future)

[2016-09-13 15:57] fedorov commented on #74
let's do prototype in this one? http://pencil.evolus.vn/Features.html

[2016-09-15 03:11] fedorov commented on #74
initial iteration, done in Pencil

![reporting_v2_sketch](https://cloud.githubusercontent.com/assets/313942/18537015/41be8b14-7ad0-11e6-8d1f-20cfc7075f4d.png)

Source file and screenshot are also available https://github.com/fedorov/Reporting/tree/v2-design/Doc/design

@che85 can you join the QIICR hangout tomorrow to have some brainstorming about this? If you have any suggestions/iterations befor

[2016-09-15 04:07] che85 commented on #74
Looks good to me. Anyway it was better, that you create the first draft because you had a more concrete idea of all this than me. I will be joining the QIICR call.

[2016-09-15 11:02] fedorov commented on #74
I agree - that's what I thought too!

[2016-09-15 14:34] fedorov commented on #74
Notes from the discussion at the QIICR hangout Sept 16, 2016:

* @pieper about MRML node - may make sense to use a ScriptedModule MRML node with the JSON content; can constraint node selector by an attribute.
* Consider using Table node for content of the measurement report?
* Add capability to plot the measurements in the table and configure the layout to include the plot

[2016-09-15 14:44] pieper commented on #74
Here's a module for handling a bunch of measurements using a json attribute
of a mrml node:

https://github.com/DCBIA-OrthoLab/AnglePlanes-Extension/tree/master/AnglePlanes

On Thu, Sep 15, 2016 at 10:34 AM, Andrey Fedorov <notifications@github.com>
wrote:

[2016-09-16 16:04] fedorov commented on #74
Questions from @che85

It should give an option to create new (that is defined by a flag on node selector widget). After saving, it will remain the same. After finalizing, everything should probably become locked/read only, and switch to a view mode.

While creating the new report, they will come from some statistics tool. We have LabelStatistics module, and it will need to be augmented to allow e

[2016-09-19 21:55] che85 commented on #74
@fedorov Which effects should I hide from the segmentation editor?

Right now I reorganized it like that:
![image](https://cloud.githubusercontent.com/assets/10195822/18650284/4349ad36-7e92-11e6-8c93-b4eb59ffcabc.png)

[2016-10-07 21:45] fedorov opened #76 "Change of the segment color does not have effect on the color used for painting"
Steps to reproduce:
- add segment
- paint
- change color
- paint

![image](https://cloud.githubusercontent.com/assets/313942/19206264/a670bec8-8cb5-11e6-9adb-f66b29bda2b3.png)

As an aside, what is the expected behavior of Segment Editor when something was painted and then color changed - is color change supposed to propagate to the segment label that already exists? I would think it should.

[2016-10-07 21:48] fedorov opened #77 "Change of color resets Terminology widget selection"
If I change color on one segment, and then double click on the color swatch for another one, selection appears to be reset

Tooltip content:

![image](https://cloud.githubusercontent.com/assets/313942/19206342/2de895ec-8cb6-11e6-8767-011737670659.png)

Widget selection:

![image](https://cloud.githubusercontent.com/assets/313942/19206350/3b0b0f66-8cb6-11e6-9865-e91447591fde.png)

(also note color

[2016-10-07 21:53] fedorov opened #78 "Selection of color for a segment"
Currently, Terminology widget is used both for controlling color and terminology selection. It is also a bit confusing that user needs to click the color swatch in the column labeled "Color" to change both color and terminology.

How about the following:
- have separate columns for terminology and color, or have a button for color, and another one for terminology for each segment
- when terminolog

[2016-10-07 21:55] fedorov opened #79 "Segment name should be initialized from 3dSlicerLabel attribute in the terminology context"

[2016-10-11 21:19] cpinter commented on #76
I cannot reproduce this. If I change the color of a segment with the terminology selector, then the color of the segment changes immediately in the slice viewers, and if I do more painting it will be of that color.
I'll try it on Mac tomorrow.

[2016-10-11 21:22] cpinter commented on #77
I also cannot reproduce this one. Are you absolutely sure you use the latest code?

Last commit is 9577c7a607e0a0d10f5cd9f9d0c78598f991885d with message "Fixed known bugs in terminology selector". I remember fixing something similar than what you described here.

[2016-10-11 21:37] cpinter commented on #79
I can implement this feature easily, but I didn't do that on purpose. As I explained earlier:
"We also agreed that if a segment has a default name, then it is changed from the chosen terminology. I didn’t implement this feature, because some things are not clear: How do we assemble the name? (if the type has a modifier, or if we want to use 3dSlicerLabel then it may not be found, languages etc.) H

[2016-10-12 02:36] fedorov commented on #79
Right, but also as I responded earlier.

To go over specific items you listed and I didn't address explicitly perhaps:

* "How do we assemble the name? (if the type has a modifier, or if we want to use 3dSlicerLabel then it may not be found, languages etc.) " - 3dSlicerLabel if no modifier, "3dSlicerLabel, <modifier>" if modifier is present. I don't understand what you refer to by "languages".
* "

[2016-10-12 13:29] cpinter commented on #79
Thanks Andrey! OK I think I see where the misunderstanding is.

The very last point ("it would probably be better to make sure some terminology is selected first, as the users should know what they are segmenting") in my interpretation meant that when the user creates a segment, the exact terminology entry could be populated before allowing it to be edited (this is what the "users should know what

[2016-10-12 13:56] fedorov commented on #79
Csaba, this doesn't hold anyone, I just think that it makes things more clear to the user. I still (sorry!!!) don't understand how populating the name with the default will make things worse or more confusing than they are now, with the default LUT selection. This can wait until we have a chance to discuss later, no rush at all!

[2016-10-12 17:35] cpinter commented on #77
Works completely fine on Mac too. I suspect that the bugfix commit was not rebased on your working copy, because this bug was there before that one.

[2016-10-12 17:36] cpinter commented on #76
Works fine on Mac too.

[2016-10-12 17:37] fedorov commented on #77
Thanks for looking into this! Sorry, it looks like it was my fault. I will do a fresh build, test again and update these issues. Probably not today though ...

[2016-10-12 17:56] cpinter commented on #77
No worries! I'll leave next Wednesday, so can fix things until then. I consider it a good sign that you didn't find other problems in the first round. There will probably be usability issues later on, but hopefully not too many bugs.

[2016-10-13 01:21] che85 opened #80 "Handling multiple master volumes per segmentation"
I am wondering how we are going to handle multiple volumes when creating the label statistics. Would I have to iterate though all master volumes and combine the results?

Right now we are creating a temporary labelmap in order to calculate label statistics which also expects a volume next to the labelmap as an input.

[2016-10-13 01:52] fedorov commented on #80
For the foreseeable future, lets make sure the workflow is constrained so that it is impossible to have multiple master volumes.

[2016-10-13 03:45] lassoan commented on #80
I think the behavior of the current Label Statistics module is good: you select a segmentation and optionally also a volume. There are no constraints: you can use the same segmentation with different volumes; and volume is optional (e.g., if you are only interested in segment volumes then you don't need to specify a grayscale volume).

[2016-10-13 05:29] che85 commented on #80
@lassoan Which Label Statistics module do you mean? I only know the one where you can select a volume and a labelmap. Both need to be selected.

[2016-10-13 11:44] pieper commented on #80
I think it is well defined, at least it maps correctly to the DICOM
objects.  A segmentation can be reference on or more source images.  A
quantitative measure, like mean value in a segment can reference the source
segmentation and the image data used to perform the calculation.  We need
to make sure Slicer keeps track of those references so we can correctly
encode the results.  In other words I t

[2016-10-13 12:52] fedorov commented on #80
I am not questioning whether it is good or bad, right or wrong. All I am saying we should not focus on handling multiple masters in the current development of Reporting, and constrain the scope of features to keep the work manageable. This is why we should make sure it is not possible to have multiple masters in the workflow currently being implemented in Reporting.

[2016-10-13 12:58] lassoan commented on #80
Note that you can use qMRMLSegmentEditorWidget's masterVolumeNodeSelectorVisible property to hide the master volume node selector. This way your module that embeds the segment editor widget has full control over what master volume is used.

[2016-10-13 13:37] fedorov commented on #80
Excellent, @che85 definitely let's use that feature!

[2016-10-13 17:42] che85 commented on #80
We are already using that feature.

@lassoan was talking about a Label Statistics module, where you don't need to define a grayscale volume. Which LabelStatistics module is that? I only know the one where you need to select both in order to get results.

[2016-10-13 18:04] lassoan commented on #80
Current LabelStatistics module may require a grayscale volume, but actually it's not necessary. If a grayscale volume is not specified then the labelmap volume can be used as both input and mask in vtkImageAccumulate (and then min, max, mean, stdev columns should be removed or values set to N/A or 0).

[2016-10-13 19:21] fedorov commented on #77
Csaba, to keep things going, does it make sense to start integration into Slicer before you leave, now that the release is cut, or would you like to wait until we do more extensive testing? I think the existing functionality is sufficiently capable to start integration.

[2016-10-13 20:03] cpinter commented on #77
No objections on my part, I can start integrating right away.

On October 13, 2016 3:21:45 PM Andrey Fedorov <notifications@github.com> wrote:

Csaba, to keep things going, does it make sense to start integration into Slicer before you leave, now that the release is cut, or would you like to wait until we do more extensive testing? I think the existing functionality is sufficiently capable to star

[2016-10-13 22:19] che85 opened #81 "Missing segments when applying label statistics"
I am experiencing a strange behavior, when using the Segment Editor, Segmentations (for exporting into a labelmap) and Label Statistics module.

Reproduce this:
1. Open Segment Editor
2. Select Segmentation and MasterVolume
3. Add Segment and draw something
4. Add another Segment and draw something
5. Switch to Segmentations module and export all segments into a (new) labelmap
6. Switch to Label S

[2016-10-13 22:29] lassoan commented on #81
I guess the issue is that the labelmap uses the segmentation node's color node. When you remove a segment, the corresponding entry in the color table is set to black.
This is one more indication that color tables should be completely removed from segmentation (a color node can be still created when exporting a labelmap, but it would not be linked with the segmentation node).

[2016-10-13 22:53] cpinter commented on #81
The color node should not be an issue, because I removed those from segmentations completely quite a while ago.

[2016-10-13 22:59] fedorov commented on #81
Could this somehow be related to the fact that geometry of the label doesn't match that of the image volume? I don't know if LabelStatistics does the resampling.

As an aside, such long stack traces could be shared as gists - it is very hard to look at this issue from a mobile phone @che85 ;-)

[2016-10-13 23:26] lassoan commented on #81
I was able to reproduce the issue. Slicer logs this error for segments that cannot be exported to labelmap:
`GenerateMergedLabelmap: No color table index found for segment Segment_0`

Could we get rid of color indices, too? Maybe we could use segment indices (position of the segment in the segmend ID list)?

[2016-10-13 23:34] lassoan commented on #81
Csaba, could we use the color's name to find corresponding segment by name instead of using the hidden (and apparently sometimes missing) color table index in segment tags?

[2016-10-13 23:38] cpinter commented on #81
We can rid of the color indices.

I don't understand the last comment.

[2016-10-13 23:42] fedorov commented on #81
:+1:

[2016-10-13 23:46] lassoan commented on #81
I mean that we when we import a labelmap into a segmentation node we could use the color names (determined by using the color node associated with the labelmap) to find the corresponding segment.

[2016-10-14 15:21] cpinter commented on #81
The color index tag is currently used in
* Merged labelmap creation
* Grow cut effect
* Smoothing effect (smoothMultipleSegments)
I can remove it from labelmap merging for sure, as Andras suggested and Andrey +1'd. The only change in the resulting labelmap will be that if a segment (that is not the last one) is removed, then the segments after that one will have a different label index than before

[2016-10-14 15:27] fedorov commented on #81
At the time of export to DICOM, we will need to renumber all segments to have consecutive IDs.

[2016-10-14 15:40] lassoan commented on #81
I'll take care of the effects.

When we import we should be able to update existing segments to allow processing as labelmap (export to labelmap, do some processing, import from labelmap).

[2016-10-14 15:54] cpinter commented on #81
OK I'll commit the change soon, leaving the effects alone.

We don't have this feature you mention about updating existing segments from imported labelmap yet, so no change is necessary around there. When this feature is added in the future, we can use segment names. Renaming segments will be an issue however, and I don't think we should switch to using segment IDs, because if you use the editor t

[2016-10-14 16:07] cpinter commented on #81
One question. With the removal of the segmentation-specific color table, the color table of the exported labelmap will be Labels, with color names jake, Peach, Brain, Ventricles, etc. Note that this has been like this for quite some time now.

Should I fix this and add a new color table with the proper names and colors before commiting, or work on this as another commit? Or also we can do this aft

[2016-10-14 16:48] cpinter commented on #81
I committed...

[2016-10-17 15:18] fedorov opened #82 "Importing SEG from DICOM into a Segmentation does not keep reference to the image"
In the past, we used to have "AssociatedNodeID" attribute to keep this reference (and this is how it works right now when a new label is created in the legacy Editor).

[2016-10-17 20:26] lassoan commented on #81
@che85 It would be great if you can test if Csaba's changes have fixed the missing exported labels problem. Thank you!

[2016-10-17 20:34] che85 commented on #81
@lassoan Yes. It seems to be fixed. I am closing this issue.

[2016-10-17 20:34] #81 closed

[2016-10-17 21:13] lassoan commented on #81
Thanks!

[2016-11-01 17:37] fedorov opened #83 "Check for changes before exporting DICOM"
When user clicks save report:
* if segment(s) did not change since the last SEG export, no need to overwrite them
* if the table content didn't change since last SR export, no need to overwrite them

[2016-11-07 18:16] che85 opened #84 "In case of overlapping segments export segments into separate labelmaps and run LabelStatistics for each one"

[2016-11-07 18:39] fedorov commented on #84
to clarify, do this in the situation when overlapping segments are enabled in the Segmentations GUI

Or perhaps it is easier to calculate statistics consistently for the individual segments all the time?

[2016-11-07 18:45] lassoan commented on #84
Segment masking option is a property of the editor, not a property of a segmentation. So, you always have to assume that segments may overlap.

[2016-11-10 15:33] cpinter commented on #77
Can this be closed?

[2016-11-10 15:33] cpinter commented on #76
Can this be closed?

[2016-11-10 15:46] fedorov commented on #77
Csaba, I was busy with grants for the past 2 weeks, and traveling this week, but I will get back to this soon to test with the latest version, and will close if I cannot reproduce. Sorry for the delay.

[2016-11-10 16:03] lassoan commented on #76
It is reproducible if you don't select terminology terms but just double-click on the color swatch.

[2016-11-14 19:39] fedorov commented on #77
This is not happening anymore!

[2016-11-14 19:39] #77 closed

[2016-11-14 19:40] fedorov commented on #76
Right, as Andras noted, this is reproducible if the color is updated using the color swatch inside the Terminology popup window.

[2016-11-14 20:07] fedorov commented on #79
Csaba, I propose to do the following:

1) assign "3D Slicer General Anatomy list" to be the default terminology for all newly created segments
2) when a new segment is created, automatically assign Category=Tissue, PropertyType=Tissue
3) automatically set segment Name to be the same as PropertyType

If you see issues with this approach, we can probably just implement it in Reporting module, and de

[2016-11-14 20:46] lassoan commented on #79
What would you recommend to do with colors? By default we should have different colors, but by choosing tissue/tissue everything would be just all green (and even if we implement automatic changing of shades when there are similar colors in the segmentation, it would be all just too green).

Maybe we could have a shortlist with some basic tissue types (fat, muscle, bone, skin, tumor, foreign objec

[2016-11-14 20:54] pieper commented on #79
The generic anatomy table was designed to have a short list of common ones
in the low numbers.  And it has generic 'regions' starting at 292.

https://www.slicer.org/wiki/Slicer3:2010_GenericAnatomyColors

You could start with region 0 (292) and then just autoincrement for each
new segment if it hasn't already been selected.  Seems unlikely anyone
would pick more than 16 new segments manually (if

[2016-11-14 20:58] fedorov commented on #79
That is a valid concern, I agree. How about taking consecutive colors from the Slicer Generic Anatomy LUT (as it is defined in the original LUT) when a duplicate color is encountered? I think it should also be accompanied by a popup notifying the user that a default color for the selected tissue has been changed, and an option to disable this override.

Figuring this out is one of the goals of our

[2016-11-14 21:06] fedorov commented on #79
Sorry, I forgot to write this. The reason color override should be optional is that in some situations I can see how the user might want to segment multiple instances of the same structure and keep the same color. It should be allowed to do that.

[2016-11-14 21:41] naucoin commented on #79
There's been quit a bit of work on the atlas colour tables in Slicer to define colours that work together for segmenting anatomical structures, my vote for this issue goes to @pieper 's suggestion of sticking with values in the Generic Anatomy table and using the associated terminolgy values rather than trying to redo a color set from scratch.

[2016-11-14 21:56] fedorov commented on #79
We are using those colors, that is not the question.

The difficulty arises due to the flexibility of the new terminology support. In the Slicer color LUTs, there was fixed assignment of color to the label name, and only one instance of the given label color/name was allowed in a segmented image.

In the new approach, color can be changed independently from the segment semantics AND it is possible

[2016-11-14 22:35] naucoin commented on #79
Thanks for the clarification! For picking the new colour, skipping up to index 292 (label "region 0") as @pieper suggested and reassigning it with the same segment type makes sense, you're not over riding any specific anatomical names.

[2016-11-14 22:37] fedorov commented on #79
We are, because each term in the terminology may have a pre-assigned color. By assigning a different color we modify that default. What I was saying is that in some situations user may want to have the same color assigned to the items of the same type.

[2016-11-15 02:44] che85 opened #85 "Update DICOMSegmentationPlugin to use dcmqi instead of "old" seg2nrrd cli"
- [x] Update to dcmqi cli (@che85)
- [x] Create terminology from cli output json (@cpinter)

[2016-11-15 16:57] cpinter commented on #79
Very useful discussion!

Using generic anatomy colors makes a lot of sense. Segment Editor already assigns consecutive colors from a different color table (Labels, based on an arbitrary decision earlier).
I'm also not against the popup window (but I know Ron is in general against popups). Your suggestion sounds exactly like what Subject hierarchy is doing now, asking whether an operation is desire

[2016-11-15 19:29] fedorov commented on #85
@cpinter can you help with this task? There is a comment you put in the plugin, but the plugin has not been updated after terminology support has been revised: https://github.com/QIICR/Reporting/blob/master/Py/DICOMSegmentationPlugin.py#L145

[2016-11-15 20:17] che85 commented on #85
@cpinter @Sunderlandkyl: Do you still need that code[1] for exporting labels from the "old" Editor into DICOM SEG? Are you planning to adapt that code for the new terminologies?

[1] https://github.com/QIICR/Reporting/blob/master/Py/DICOMSegmentationPlugin.py#L393-L581

[2016-11-15 23:10] lassoan commented on #79
I agree with Ron that popups are really bad. We don't need to use them, just go with the most common choice (choose different colors for tissue/tissue). We could add a "default" checkbox next to the color swatch and next to the segment name editbox (we would add an editbox to the terminology window where the user can see/edit the segment name). If the default checkbox is checked then the color/seg

[2016-11-16 02:29] fedorov commented on #79
I tend to not agree with the sweeping statements like this. It all depends on the context and the choice between evils. Alternative is to add various choices to the front UI and make it look like a fighter jet control panel, or hide it in the advanced options where users are unlikely to look at all. There is always a balance to seek between what should be exposed and how. I don't see a problem wit

[2016-11-16 02:33] fedorov commented on #53
A related effort that was essentially "killed" that should be considered if and when we get to this issue: https://github.com/Slicer/Slicer/pull/527

[2016-11-16 03:45] lassoan commented on #79
OK, get back to this later when more urgent issues are addressed.

[2016-11-16 18:28] fedorov commented on #85
@cpinter can you give us an idea if/when you might be able to look into this? This issue is in the critical path, and we need to plan who will work on resolving it. Thanks.

[2016-11-16 20:26] cpinter commented on #85
Yes I'll look into this asap.

[2016-11-16 20:28] fedorov commented on #85
Thank you!

[2016-11-16 20:48] fedorov commented on #85
@cpinter you probably noticed this, but @che85 already did some work to update the plugin to use dcmqi. It probably makes sense to start with his pull request here: https://github.com/QIICR/Reporting/pull/86

[2016-11-17 14:28] #76 closed

[2016-11-17 14:28] cpinter commented on #76
I committed a fix, please check whenever convenient

[2016-11-17 14:28] cpinter commented on #76
It seems that my commit message closed this issue. I didn't expect that!

[2016-11-17 16:04] cpinter commented on #85
@che85 "Do you still need that code[1] for exporting labels from the "old" Editor into DICOM SEG"

The function you marked is the one that does the export, so we need that definitely. Although it does use features that have been changed since then (usage of color table node, LabelMapVolume base class, etc). I'll change that.

I don't know much about the segimage2itkimage CLI that this issue is abo

[2016-11-17 16:22] cpinter commented on #85
@che85 Should we have a hangout? I'm available in the next 20 minutes so can talk right now. Probably that would be fastest

[2016-11-17 16:24] che85 commented on #85
@cpinter I will have a meeting in a few minutes. Maybe in the afternoon? I will be available between 2pm and 8pm

[2016-11-17 16:26] cpinter commented on #85
OK I'll let you know. I wanted to reach you on google hangouts but their interface is frustrating. I'll keep trying

[2016-11-17 16:29] fedorov commented on #85
Guys, keep me in the loop - I would like to join the meeting if I can

[2016-11-17 16:30] cpinter commented on #85
Of course! When are you available this afternoon? I'm somewhat flexible, but cannot make it before 1:45 for sure

[2016-11-17 16:39] fedorov commented on #85
how about 3pm?

[2016-11-17 16:46] cpinter commented on #85
Works for me

[2016-11-17 16:53] pieper commented on #85
I'd be interested in listening in on that conversation if you don't mind.

On Thu, Nov 17, 2016 at 11:46 AM, Csaba Pinter <notifications@github.com>
wrote:

[2016-11-17 18:01] fedorov commented on #76
@cpinter I've just tested, and it does look like the issue is fixed (so no need to reopen the issue!) - thank you!

[2016-11-17 18:04] fedorov commented on #85
@pieper sure - let's hope @che85 is available at 3 and plan for that. I will initiate and send hangout links (and hangouts recognized my camera earlier today, so hopefully it will work!)

[2016-11-17 18:14] che85 commented on #85
Sure I will be available.

[2016-11-17 20:55] che85 opened #89 "Created mapping for SegmentStatistics column names to DICOM code meaning"

[2016-11-17 20:55] che85 commented on #84
outdated

[2016-11-17 20:55] #84 closed

[2016-11-17 23:39] che85 opened #90 "Enable readonly mode for measurement reports"
After loading a DICOM SR into Slicer it shall be available for selection in Reporting.

This is also applicable to completed measurement reports.

Once selected, it should be read only:

- [x] Disable SegmentEditor
  - [x] No adding/removing of segments (@che85)
  - [x] Selection of segments should be possible, but not editable (@cpinter)
    - [x] No changes of segment name or terminology
- [x] R

[2016-11-18 00:28] #89 closed

[2016-11-18 00:35] fedorov commented on #90
@che85 thanks for setting up the milestone, and also for summarizing these points. This looks good. I think given the time left, we should not allow editing reports loaded from DICOM, and just complete the round-trip.

[2016-11-18 15:04] cpinter commented on #85
@che85 I'm looking at the seg-example.json file you referenced, and I'm a bit confused. In the json terminology dictionaries used so far, the category, type, modifiers etc. are identified by the tags "codeValue", "codingScheme", "codeMeaning", but in the example file these are different: "CodeValue", "CodingSchemeDesignator", "CodeMeaning". The parser I implemented thus won't be able to parse the

[2016-11-18 15:08] fedorov commented on #85
Csaba, it's our fault. It should be capital case. This was fixed in the schemas for the converters, but not in the context JSONs, since we don't have a schema for the context, so this was not captured by the tests.

Can you update the context files to have "CodeValue", "CodingSchemeDesignator", "CodeMeaning" and assume this convention going forward? I will fix in the dcmqi version.

The convention

[2016-11-18 15:17] cpinter commented on #85
Thannks, Andrey! I'll update the json files in the Slicer repo.

[2016-11-18 15:19] cpinter commented on #85
What about Slicer4\Base\Logic\Resources\ColorFiles\Terminology\AnatomicRegionAndModifier.xml and the other xml in that folder?

[2016-11-18 15:22] fedorov commented on #85
I don't know if they are used by anything in Slicer, but for our purposes, these are deprecated. The XML files were used by Colors logic, and that functionality is being phased out. Probably for now it is safer to leave that file in place since probably Colors logic and other things still expect its presence.

cc: @naucoin @pieper

[2016-11-18 20:24] fedorov opened #93 "Update Reporting-related entries in Slicer DICOM plugin "advisor""
if/when https://github.com/Slicer/Slicer/pull/504 is merged AND when this module is functional

[2016-11-18 20:59] che85 opened #94 "Upon measurement report selection referenced scalar volume should be displayed next to segmentation"

[2016-11-18 21:10] fedorov commented on #94
I am not sure I understand - it is already displayed right under the report selector, no? Can you clarify?

![image](https://cloud.githubusercontent.com/assets/313942/20446829/8949a57a-ada9-11e6-8869-a5bf3ea0735e.png)

[2016-11-18 21:17] fedorov opened #96 "Hide non-relevant segmentations"
If the scene has segmentations other than the one referenced in the measurement report, they should be hidden and only the active segmentation should be visible when user is in Reporting module.

[2016-11-18 21:23] che85 commented on #96
@fedorov Actually this should be implemented by now. This functionality was added in 6e1e003a4627cff08ce17b454adb2034c3841bcf

[2016-11-18 21:24] che85 commented on #94
Yes I meant to say, that if there is no measurement report selected and the user selects one, Reporting needs to make sure, that the right images are displayed in the slice views

[2016-11-18 21:25] fedorov commented on #96
nice!

[2016-11-18 21:25] #96 closed

[2016-11-18 22:29] che85 commented on #94
Already implemented

[2016-11-18 22:29] #94 closed

[2016-11-18 22:29] che85 commented on #83
fixed

[2016-11-18 22:29] #83 closed

[2016-11-19 01:09] cpinter commented on #85
I worked today on identifying the codes by coding scheme and value instead of code meaning, and passing the custom color separately (it was not quite correct to squeeze in custom color info into the passed terminology information), while making it more robust. I'll work on the CLI tomorrow.

[2016-11-20 02:22] cpinter commented on #85
This work turned out to be bigger than I thought, so I only finished this afternoon. I committed the capitalization fixes in the same commit as the CodingSchemeDesignator/CodeValue one.

Now I'm trying to load the test DICOM SEG into Slicer, but I'm facing an error that might be trivial but I still couldn't find the solution easily. The "import dicom" python command fails, saying there is no such

[2016-11-20 03:03] fedorov commented on #85
Are you working off the master with the updates from @che85 included? I tested with the nightly from yesterday, and everything works fine (including "import dicom") - it even populates the color, and the loaded segment shows up in Segment Editor, it's just that terminology is missing.

[2016-11-20 03:08] lassoan commented on #85
Csaba, you need to build Slicer with SSL enabled to get pydicom.

[2016-11-20 04:23] cpinter commented on #85
Thanks, I'll build with SSL then. I disabled it quite a while ago because it caused problems on Windows, I hope it works well now.

[2016-11-20 12:23] lassoan commented on #85
SSL works for me with Qt that I build with Jc's one-liner script.

[2016-11-21 01:08] cpinter commented on #85
It works now, thanks for the tip! I'll start on terminology loading tomorrow.

[2016-11-21 15:37] cpinter commented on #85
How final is the segmentation descriptor json file (meta.json) structure? Because currently the terminology logic uses an in-memory terminology context json object for lookup, so I need to write a segmentation decriptor Json to terminology context Json (not file but in memory) converter so that it can be stored as a context properly. It won't be hard, but I'd like to know if I need to prepare for

[2016-11-21 15:56] lassoan commented on #85
For debug messages you can use logging.debug. Debug output is only shown in the log file and log window - does not pollute the console.

[2016-11-21 15:58] cpinter commented on #85
@che85 One more question: I'm looking at JSONSegmentationMetaInformationHandler::createAndGetSegmentAttributes and am a bit puzzled about innerList. To me it seems redundant, but I'm not too experienced with Json. Is it really needed?

[2016-11-21 16:02] che85 commented on #85
@cpinter I am not sure if the segmentation descriptor is complete, but I am sure @fedorov can tell you.

I totally agree about removing the temporary files afterwards and it's on my TODO list.

Do you know where the memory is coming from? I guess from segimage2itkimage, but I am not sure.

segmentAttributes is a list of lists. The outer list are different segmentation files, where each file can ha

[2016-11-21 16:19] cpinter commented on #85
@che85 Thanks for the quick answers!
The inner list makes complete sense this way. It's just if I look at the code in the function I mentioned then if it looks like to me that the innerList value will always have one element in it.
https://github.com/QIICR/dcmqi/blob/master/libsrc/JSONSegmentationMetaInformationHandler.cpp#L129-L130

[2016-11-21 16:22] che85 commented on #85
You are right. Maybe @fedorov can answer you why: I also would expect it >=1 segment(s) in each file.

https://github.com/QIICR/dcmqi/blob/master/libsrc/JSONSegmentationMetaInformationHandler.cpp#L96

[2016-11-21 16:23] cpinter commented on #85
Thinking further, meta.json seems to correspond to exactly one segmentation object. It specifies InstanceNumber, SeriesDescription, and SeriesNumber, so unless a DICOM SEG series can be contained in multiple files (unilke RTSS), then having containers in it for multiple segmentation files is unnecessary.

[2016-11-21 17:13] fedorov commented on #85
Sorry for the delay in reply, had to deal with multiple immediate and more urgent "fires"...

@cpinter I completely agree there are cleanup items we have to work on, and we will get to it after RSNA.

I expect the structure of meta.json will change, but we can take care of updating the plugin if/when this happens. If I understand correctly from @che85 all we need for now are setters for the termin

[2016-11-21 17:20] cpinter commented on #85
@fedorov Thanks for the innerList explanation! Yes, it makes good sense.

I'm done with the Json parsing, and now I'm working on adding the terminology entries for the loaded segments. I'm also removing obsolete snippets from the plugin. wondering if this part is needed or not
https://github.com/QIICR/Reporting/blob/master/Py/DICOMSegmentationPlugin.py#L234-L263

[2016-11-21 17:28] fedorov commented on #85
https://github.com/QIICR/Reporting/blob/master/Py/DICOMSegmentationPlugin.py#L234-L263

I guess it depends whether this is the proper way to read in segments from disk files or not -- if this is not the right way to do it, please replace or let us know how to improve!

[2016-11-21 17:29] cpinter commented on #85
Sorry I just updated my comment. I meant the part under that which creates the merged label volume.

[2016-11-21 17:34] fedorov commented on #85
Oh - so this time I was too quick! I can't win!! :)

I think this code is only relevant for the "legacy" Editor. Compatibility with legacy Editor is not a priority for us, so you can feel free to remove it. Looking in the "Blame" mode gives some perspective:

![image](https://cloud.githubusercontent.com/assets/313942/20493426/c2538cfc-afe6-11e6-8df3-e2bc6e7163d1.png)

https://github.com/QIICR/Repo

[2016-11-21 17:37] cpinter commented on #85
Thanks a lot! I'll remove it in my pull request, and if needed later we can find it in the history.

[2016-11-21 20:46] cpinter commented on #85
I think I'm making good progress. One question in the meantime: what should be default value for showAnatomy in a category? Because if we load the segmentation's terminology information to a brand new context, then the incomplete categories (no "cid" etc. only the three Code* values) from the descriptor Json file need to be initialized in some way. I vote for showAnatomy be true by default, otherw

[2016-11-21 20:51] fedorov commented on #85
yes, I agree - makes sense to show anatomy selection when showAnatomy is not available in the input context

[2016-11-21 22:01] cpinter commented on #85
I committed the descriptor parsing part to Slicer core:
http://viewvc.slicer.org/viewvc.cgi/Slicer4?view=revision&revision=25563
And added the terminology information in the loaded segments in the DICOM plugin:
https://github.com/QIICR/Reporting/pull/97

Let me know how it works and if there are any concerns/comments

[2016-11-21 23:12] fedorov commented on #85
The remaining task was fixed in #97

[2016-11-21 23:12] #85 closed

[2016-11-21 23:14] fedorov commented on #90
@cpinter can you answer Christian's question?

[2016-11-22 00:05] che85 commented on #90
@cpinter I propose to add a flag "readonly" or something similar for the vtkSegmentationNode. Is this the case, the SegmentEditor should disable the following:

- [ ] Add/Remove segment
- [ ] Create surface
- [ ] Terminology selection should be disabled (maybe allow dblclick on the color icon and open the terminology dialog, but forbid changing it) - otherwise the user wouldn't have the chance to

[2016-11-22 00:07] fedorov commented on #90
@che85 the user can check terminology in the tooltip over the color swatch. It is suboptimal, but better than nothing.

[2016-11-22 00:11] che85 commented on #90
Oh I thought about that, but I didn't even try .... I will update the comment and make that optional

[2016-11-22 00:18] cpinter commented on #90
It shouldn't be hard to add a reado-only option. I'd prefer adding that option to the segments table and not the nodes, unless it is important that some nodes be read-only and not others.

[2016-11-22 00:19] che85 commented on #90
@cpinter Sounds great.

[2016-11-22 00:19] lassoan commented on #90
Read-only widgets should be no problem, but restricting modules is more difficult and also uncommon in Slicer. What is the reason of locking? Preventing accidental changes? (as it is the case for markups when drag-and-dropping with the mouse may accidentally displace a markup)
Can we just hide the nodes so that they are only shown in selected modules that don't allow modifications?

[2016-11-22 00:23] che85 commented on #90
@lassoan We are not showing the SegmentationNode at all. Loading the DICOM SR into Slicer creates a vtkMRMLTableNode, which references the SegmentationNode.

There is no SegmentationNodeSelector in our "Reporting" module. So just hiding the node wouldn't help us.

Reason for readonly: Currently we only want to support creation and reading of DICOM SR. Modification should not be allowed. That's why

[2016-11-22 00:30] lassoan commented on #90
Very good then. Making widgets read-only should be straightforward to implement.

[2016-11-22 03:28] fedorov commented on #90
Good plan, thanks!

The reason for read-only for SRs is not just limitations of the scope of our implementation. There are real use cases where this is an important feature.

[2016-11-22 15:52] che85 opened #98 "Slicer crashes after selection terminology category in Segment Editor"
Slicer nightly build 4.7.0-2016-11-21 crashes after selection of terminology. Report [1]

Reproduce:
1. Load scalar volume into Slicer
2. Open Segment Editor
3. Add Segment
4. DblClick on color icon for selection of terminology
5. Select Category without selection of Property Type
6. Click button "Select"
7. DblClick on color icon for selection of terminology for the same segment
8. Slicer crashes

[2016-11-22 15:58] cpinter commented on #98
I'll look into this right now.
Thanks for testing!

[2016-11-22 15:59] che85 commented on #98
Sure :)

[2016-11-22 16:12] cpinter commented on #98
I'll fix the crash anyway, but maybe Select button should be disabled until type is selected. It doesn't make much sense to allow the user to select only a category

[2016-11-22 16:12] che85 commented on #98
Yes I agree

[2016-11-22 16:16] che85 opened #99 "Creation of DICOM SR doesn't work due to changes in Slicer Core"
Changes has been made in [1]
Code that used getters doesn't work anymore [2]

[1] https://github.com/Slicer/Slicer/commit/62431b3dcb74c2f6f0bb5871c3130d8895451eda#diff-59ab6f6918e7ad77de78006802f56b17R44
[2] https://github.com/QIICR/Reporting/blob/master/Py/Reporting.py#L794-L795

@cpinter Do you have some hints for me? It seems, like a lot has been changed in that commit

[2016-11-22 16:57] pieper commented on #93
I didn't update the json file because I wasn't sure of the current
suggestions in terms of extensions to install for a given DICOM
modalities.  Let me know if changes need to be made.

https://github.com/Slicer/Slicer/blob/master/Modules/Scripted/DICOM/DICOMExtensions.json

On Fri, Nov 18, 2016 at 3:24 PM, Andrey Fedorov <notifications@github.com>
wrote:

[2016-11-22 17:04] fedorov commented on #93
That's ok, I don't think we are quite there yet. I will update later. Thank you!

[2016-11-22 17:07] #98 closed

[2016-11-22 17:12] cpinter commented on #90
Commit https://github.com/Slicer/Slicer/commit/b654947774b2ee02b80c118391023c6b4e379131 adds read-only to segment editor and segments table view. Please close if satisfactory

[2016-11-22 18:14] che85 commented on #99
@pinter: Seems like I have to use

[code]

and then split the string?

[2016-11-22 18:24] cpinter commented on #99
What is your goal?

You can deserialize the string into a VTK object by calling qSlicerTerminologyNavigatorWidget::deserializeTerminologyEntry, then you can access the details from the vtkSlicerTerminologyEntry object. The object will contain all the fields, not just the identifiers if it's found in a loaded terminology dictionary.

[2016-11-22 18:27] che85 commented on #99
How do I do that from python? I need to add the terminology to our metafile in order to create the DICOM SEG and DICOM SR.

[2016-11-22 18:29] che85 commented on #99
Ok seems like i found it

[2016-11-22 18:31] cpinter commented on #99
It's a static function but unfortunately calling static functions somehow doesn't work from python (it used to). So you need to do
terminologyWidget = slicer.qSlicerTerminologyNavigatorWidget()
terminologyEntry = slicer.vtkSlicerTerminologyEntry()
terminologyWidget.deserializeTerminologyEntry(tag, terminologyEntry)

[2016-11-22 18:35] che85 commented on #99
[code]

[2016-11-22 18:39] cpinter commented on #99
Interesting. Maybe it just needs a Q_INVOKABLE. Will let you know in a sec

[2016-11-22 18:39] che85 commented on #99
It's also interesting that I can access serializeTerminologyEntry

[2016-11-22 18:40] cpinter commented on #99
It has the Q_INVOKABLE :)

[2016-11-22 18:42] cpinter commented on #99
I committed the change to Slicer trunk
Sorry for the oversight!

[2016-11-22 18:42] che85 commented on #99
Ok thanks a lot :)

[2016-11-23 16:20] #99 closed

[2016-11-23 19:07] che85 opened #103 "Cleanup code and remove temporary files after DICOM SEG and SR creation"

[2016-11-23 19:12] fedorov opened #104 "Newly added segments should have terminology populated"
It is highly non-intuitive that newly added segments have no terminology at all.

![image](https://cloud.githubusercontent.com/assets/313942/20575272/98624a36-b186-11e6-97e4-0c4a986c2146.png)

@che85 can we assign Tissue/Tissue in a new segment event handler? We went over this several times to change the default behavior in Segment Editor proper, and never reached consensus.

As it is right now, t

[2016-11-23 19:16] pieper commented on #104
Wouldn't the column name be "Term" instead of "Terminology"?

On Wed, Nov 23, 2016 at 2:12 PM, Andrey Fedorov <notifications@github.com>
wrote:

[2016-11-23 19:25] fedorov commented on #104
@pieper  -- agreed!

[2016-11-23 19:25] lassoan commented on #104
Renaming Color to Terminology would be confusing. Maybe we should bring up the terminology window when segmentation name column is double-clicked. It would be better if double-clicking on color swatch would bring up a simple color selector anyway (now you need to do too many clicks to simply change color).

[2016-11-23 19:26] fedorov commented on #104
@pieper - maybe it should be even more specific - maybe "semantics" is appropriate in this context?

[2016-11-23 19:27] fedorov commented on #104
@lassoan - why would it be confusing? I think it is more confusing when user only sees color, and has no idea that that color square is hiding more than just the color. To clarify, I am not pushing for a change in Segment Editor (although, it would be appropriate too), but only in this Reporting module.

[2016-11-23 19:35] che85 commented on #104
I totally agree, but I also think that user just might not know about the fact that he/she is actually able to change the terminology by dblclicking onto the color.

We shall find a better way for making that more visible more intuitive to the user.

[2016-11-23 19:41] fedorov commented on #104
@lassoan I also agree that changing color independently is a good feature. Maybe we should have separate column for color, and separate column/button for defining the semantics of the segment. That would be fine with me. All I am saying the current UI is sub-optimal.

But we DO have a functional Beta, and all of the team contributed a lot to make it happen. Thank you all for the hard work!!!

[2016-11-23 19:42] lassoan commented on #104
We all agree then: Associating color with terminology is confusing.
Renaming column would be confusing because colors are very weakly linked to terminology and we would still just show colors in that column.

Assigning terminology editing to double-clicking in color column is confusing because:
1. user just sees the color and wants to change the color and instead of a color selector he is presente

[2016-11-23 19:49] fedorov commented on #104
Right, but there are different levels of association.

One (which we all agree is confusing and should be improved) is the association in the user interface.

Second one is the assignment of the default suggested color in the segmentation terminology context. I believe that one should stay, and terminology popup widget should keep the color swatch. But there should be an additional color swatch to

[2016-11-23 19:56] fedorov opened #105 "Improve labels for the measurements table column names"
The current implementation has the following:

![image](https://cloud.githubusercontent.com/assets/313942/20576517/45d0cdaa-b18c-11e6-8120-81d35968c188.png)

I suggest we show the following:

- [ ] when only quantity is available, show code meaning for quantity
- [ ] when quantity and derivation both are available, show code meaning for derivation
- [ ] when code meaning exceeds some length thresh

[2016-11-23 20:48] fedorov opened #106 "Support clicks in the measurements table to select segments"
Would be nice to be able to click on the rows of the measurements table and have the same effect as selecting segments from the segment list.

[2016-11-23 20:52] fedorov opened #107 "Improve user access to long lists of segments in read-only mode"
With the segment list shown in read-only mode, it is impossible to see (or click!) segments that are not showing up in the very small area allocated to the list.

@cpinter is it possible to make individual segments not editable, but make it possible to scroll down the list?

@che85 @cpinter we should not display the Segment Editor controls that are irrelevant in the read-only mode (see screenshot

[2016-11-23 20:54] che85 commented on #107
I can simply hide them. Anyway I need to disable the buttons since the readonly mode only applies to the segments table

[2016-11-23 20:58] cpinter commented on #107
Good point, we should not show the effects section.

Isn't there a movable separator under the list that you can use to make it taller?

[2016-11-23 20:59] fedorov commented on #107
@cpinter indeed, there is, and it even changes mouse icon on mouse over, but it is disabled - I cannot move it :(

[2016-11-23 20:59] che85 commented on #107
Do you really want it to become taller? What about setting a fixed height and just using the scroll?

[2016-11-23 20:59] fedorov commented on #107
scroll is disabled as well - that would definitely be a good solution

[2016-11-23 21:00] cpinter commented on #107
It depends a lot on your use case how tall you want it.

The table shouldn't be fully disabled like it shows on your screenshot. I'll look into this

[2016-11-23 21:01] che85 commented on #107
@fedorov Are you working with my current PR? If not, please check it out. It might already fix this issue

[2016-11-23 21:02] cpinter commented on #107
The fix needs to ultimately be in Slicer core. I'll check this out once I finished what I'm working on right now

[2016-11-23 21:07] fedorov commented on #107
@che85 indeed, the segment selection is resolved, and jump to segment is also working now!! Great job! However, something else went wrong this time -- see below!

![image](https://cloud.githubusercontent.com/assets/313942/20578746/e428b418-b196-11e6-9ead-cfd40152a40b.png)

[2016-11-23 21:07] fedorov commented on #107
(and no, I did not photoshop that! :)

[2016-11-23 21:08] che85 commented on #107
I had that issue too. Once I restarted Slicer it was ok. I probably happened, when I reloaded the module, but I am not sure. I will check this.

[2016-11-23 21:11] che85 commented on #107
Does it always happen to you? I cannot reproduce this and I don't get any errors.

[2016-11-23 21:12] fedorov commented on #107
that was with a freshly started Slicer, but after restart, it didn't happen again!

![image](https://cloud.githubusercontent.com/assets/313942/20578877/72f08b44-b197-11e6-9a36-0cc4dde6d9d9.png)

Looks like we cleared the Test dataset 2 from https://fedorov.gitbooks.io/rsna2016-qirr-dicom4qi/content/instructions/sr-tid1500.html!!! <hooray icon>

Terminology was populated correctly too, but it would

[2016-11-23 21:13] che85 commented on #107
Very nice!

[2016-11-23 21:13] cpinter commented on #107
Anatomic region information is only shown in the tooltip if it's read and is valid. If reading or parsing is buggy then it should be fixed of course.

[2016-11-23 21:13] fedorov opened #109 "Add anatomic region/modifier to the terminology tooltip in segment list"
I think it would be helpful to have it (when it is available) visible in the tooltip

![image](https://cloud.githubusercontent.com/assets/313942/20578939/d28d27a6-b197-11e6-910d-bdd3ed0ed924.png)

@cpinter what do you think?

[2016-11-23 21:15] #109 closed

[2016-11-23 21:18] fedorov commented on #107
@cpinter you are right - it is the reading issue! Let me know if I need to create a separate issue. You should be able to reproduce with dataset 2 from this page: https://fedorov.gitbooks.io/rsna2016-qirr-dicom4qi/content/instructions/sr-tid1500.html

[2016-11-23 21:23] cpinter commented on #107
Up to you whether to create a new issue.

So in summary:
* Segments table in read-only segment editor is fully disabled, but should only be made read-only (I thought I implemented it this way but apparently something is off)
* Dataset 2 fails to read anatomical region properly

[2016-11-23 21:26] fedorov commented on #107
@che85 fixed this issue, it is resolved now. Here is how the interface looks like now:

![image](https://cloud.githubusercontent.com/assets/313942/20579214/88ac8a76-b199-11e6-9d86-5ffe0ed2c342.png)

Correct.

[2016-11-23 21:36] cpinter commented on #107
I can still hide the effects area in read-only state if you think it's better that way.

[2016-11-23 21:37] fedorov commented on #107
yes, definitely - I just wanted to say that the segment access is fixed

[2016-11-23 21:39] che85 commented on #107
@cpinter Disabled should be:
- all buttons above the segments table
- undo/redo
- all effect buttons,
- masking/options groupboxes

[2016-11-23 21:39] che85 commented on #107
Once you support that, I will remove all the code from Reporting...

[2016-11-23 21:41] cpinter commented on #107
I don't understand why it's needed to add super temporary workaround code in Reporting. It makes my job harder because the way it works after your workarounds does not reflect the state I need to fix.
Please just tell me what to fix instead

[2016-11-23 21:41] fedorov commented on #107
@che85 will you hide all those unnecessary UI elements from the widget, in Reporting?

[2016-11-23 21:42] che85 commented on #107
I am doing this right now.

https://github.com/che85/Reporting/blob/newReporting/Py/Reporting.py#L607-L615

[2016-11-23 21:44] fedorov commented on #107
sorry, I guess there is mis-comminication.

@che85 are you saying read-only mode should be possible to specify using Segment Editor API, and if it is triggered, all those elements should be hidden?

@cpinter I am just not sure what you would like to support in Segment Editor, and what you don't plan to support. We are optimizing Reporting user experience, independently of the priorities for Segmen

[2016-11-23 21:45] che85 commented on #107
@cpinter I only added that code, because my Slicer build doesn't work and I don't know right now how to fix it and we/I don't have time to wait for a new nightly build.

And it's really not much code for my workaround ...

@fedorov I am not talking about hiding them, I am talking about disabling those elements

[2016-11-23 21:46] cpinter commented on #107
Segment editor read-only mode solely exists because of your use case and I think because of this it should support it fully. When another use case for read-only appears then we can start customizing.

I'd strongly prefer not to chop the same tree from two sides, so I'll do the same in segment editor what Christian did in Reporting. That code can be removed any time, I'll commit in a matter of minu

[2016-11-23 21:48] che85 commented on #107
Sorry for the confusion 😊

[2016-11-23 21:49] cpinter commented on #107
No problem! Has your build problem been resolved since then?

[2016-11-23 21:50] fedorov commented on #107
Right, but after you change it in a matter of minutes, @che85 will only be able to test/debug it on Friday, since he cannot build Slicer on his mac, and tomorrow is a holiday.

To me it looks like for now we don't need any changes to the Slicer core. Let's revisit this after RSNA when the dust settles. Sorry for all these hectic communications. I did plan this project in advance, but multiple deve

[2016-11-23 21:51] che85 commented on #107
@cpinter No honestly I stopped trying for now after two builds from scatch and reinstalling/making qt with brew. I might look into this after RSNA...

[2016-11-23 21:53] cpinter commented on #107
I think I'll commit anyway because it's already done, and it won't change anything for the user if the redundant calls in Reporting stay - unless there are objections.
It makes sense to disable all those components in the UI for read-only. I agree that the user shouldn't be able to choose effects and click undo/redo etc. when in read-only mode.

[2016-11-23 22:11] fedorov opened #110 "Add cross-hair for the selected segment?"
In the situations where multiple segments are visible on the same slice, it might be helpful to unambiguously highlight the region.

It looks like the easiest way to do this is to enable slice intersections. May not need any changes, or add a shortcut button as in SliceTracker

![image](https://cloud.githubusercontent.com/assets/313942/20580342/cb9c3088-b19f-11e6-84db-be2137b69ee3.png)

[2016-11-23 22:13] che85 commented on #110
Actually there is a shortcut button in Reporting for displaying a crosshair

![image](https://cloud.githubusercontent.com/assets/10195822/20580395/0b639c24-b1a0-11e6-8982-ffb9590a031d.png)

[2016-11-23 22:13] che85 commented on #110
But yeah I can add the slicer intersection to it

[2016-11-23 22:17] che85 commented on #110
@fedorov The crosshair position is not updated while moving the cursor within a view. That's not correct, right?

[2016-11-23 22:18] fedorov commented on #110
I think something changed in how crosshairs behave ... not the right time to investigate. I think optimal is just to enable slice intersections. I played with the UI, and it seems to work best.

[2016-11-23 22:21] pieper commented on #110
@lassoan did recently change the crosshair behavior - maybe the Reporting code needs to update to match the new behavior?

[2016-11-23 22:21] che85 commented on #110
@pieper Yes I need to update SlicerProstate then. This is, where I implemented the CrosshairButton.

[2016-11-23 22:26] che85 commented on #110
I think the behavior is the same....

[2016-11-23 22:33] cpinter commented on #107
I'm looking at the dataset that has the anatomic region information. It's not a simple bug, it happens due to an assumption I made (added TODOs in the code about it but then forgot to ask).

The assumption was that there is one anatomic context loaded and that one is used in every case. But the region codes coming from the input segmentation are not found in that anatomic context, so it's invalid.

[2016-11-23 22:39] fedorov commented on #107
Indeed, the assumption was not correct. I think it would be good to have it implemented the same way as in http://qiicr.org/dcmqi/#/seg - there is a separate selector for anatomic region context. And then at the time SEG is imported, a dynamic one is created as done for the category/type context. What do you think?

Sorry, I didn't think or discuss this topic clearly earlier. I hope it does not cr

[2016-11-23 22:45] cpinter commented on #107
Implementing it should be pretty straightforward, I think I can do it tomorrow.

There is a combobox for anatomic context, and the logic is in place already. Hiding the combobox if there is only one loaded anatomic context is only a feature I added. So adding a new context for the SEG the same way a new terminology context is added will be no problem.

[2016-11-23 22:45] cpinter commented on #107
Now I'd like to ask for that separate issue if your offer still stands :) Thanks!

[2016-11-23 22:48] fedorov opened #111 "Segment anatomic region/modifier is not populated on SEG import"
This issue was discussed in https://github.com/QIICR/Reporting/issues/107#issuecomment-262632176, and is consistently reproducible with the dataset 2 from this page: https://fedorov.gitbooks.io/rsna2016-qirr-dicom4qi/content/instructions/sr-tid1500.html

It would be good to have it implemented the same way as in http://qiicr.org/dcmqi/#/seg - there is a separate selector for anatomic region contex

[2016-11-23 23:00] lassoan commented on #110
There were several issues with the crosshair, the most serious is being the crosshair shown in different positions in different slice views (see full list of issues in my commit comment https://github.com/Slicer/Slicer/commit/e1a4a877d8489feeb21fec35c2db0b083a4b728e).
Now you cannot accidentally move the crosshair by moving the mouse over a slice view (you have to keep shift pressed), displayed po

[2016-11-23 23:02] fedorov commented on #110
@lassoan I like the behavior of slice intersection better, in this particular situation. I also have to say I am missing the Navigator mode!

[2016-11-23 23:08] #90 closed

[2016-11-23 23:08] #103 closed

[2016-11-23 23:08] #106 closed

[2016-11-23 23:08] #107 closed

[2016-11-23 23:21] che85 commented on #82
This is fixed

[2016-11-23 23:21] #82 closed

[2016-11-23 23:22] lassoan commented on #110
Oh no, really, what was that you could do earlier and cannot do more conveniently now?

[2016-11-24 04:12] fedorov commented on #110
@che85 - indeed, after rebuilding SlicerProstate, this issue is resolved - thanks!!

@lassoan I know very well about this mode. The problem with this mode is that instead of using just the mouse pointer, I have to remember and use shift. Another problem is that I am not able to keep the crosshairs in place when my mouse needs to go somewhere else.

In the specific situation discussed in this issue

[2016-11-24 04:12] #110 closed

[2016-11-24 04:19] fedorov opened #113 "Metainfo cleanup"
- [x] rename to Quantitative Reporting
- [x] make some basic documentation page
- [x] update documentation entry in the GUI
- [x] update authors and acknowledgments
- [x] rename github repository
- [x] update Slicer/ExtensionsIndex entry

[2016-11-24 17:30] cpinter commented on #111
I noticed a discrepancy between the code and the descriptor JSON file. The anatomic region code in the JSON is AnatomicRegionCodeSequence but in the code it's AnatomicRegionSequence. I'll change the code to use AnatomicRegionCodeSequencebut .
My question is about AnatomicRegionModifierSequence, because there is no example for that in this example. Should I also change it to AnatomicRegionModifierC

[2016-11-24 17:41] cpinter commented on #111
With the assumption that the word "Code" needs to be in the key, I committed the changes to Slicer core
https://github.com/Slicer/Slicer/commit/2dfc50cb0b9b4265435221267adf162f9b4d7b0f
and updated Reporting in pull request https://github.com/QIICR/Reporting/pull/114

[2016-11-24 20:12] fedorov commented on #111
Csaba, it's an inconsistency in dcmqi schema - https://github.com/QIICR/dcmqi/blob/master/doc/seg-schema.json#L136-L141. Indeed, it would be consistent if both AnatomicRegion and AnatomicRegionModifier ended in CodeSequence.

However, I am reluctant to change this now, since there are multiple other projects that use current version of dcmqi for the RSNA interoperability exhibit. This change would

[2016-11-24 20:17] cpinter commented on #111
I'm not sure I understand. As the meta.json files contained data that the DICOM segmentation plugin could not parse, it never worked. So I think if you merge this pull request there will be no noticable change in that manner. At least now the meta.json and the Reporting code would reflect the same convention (which can be changed later, but at least the string search would not be misleading).

[2016-11-24 20:28] fedorov commented on #111
Oh, I see - I misunderstood. The problem is at multiple levels. I agree that PR will not hurt. Thanks for explaining!

[2016-11-25 00:24] cpinter commented on #111
Great, thanks a lot!

[2016-11-25 02:40] fedorov commented on #111
Sorry, just now got to test this. After recompiling Slicer and updating Reporting, I am now getting this error:

[code]

[2016-11-25 02:44] fedorov commented on #111
I am going to rebuild from scratch

[2016-11-25 13:31] fedorov commented on #111
Same runtime error with Slicer built from scratch

[2016-11-25 13:42] fedorov commented on #111
Does not happen in the binary! In either case, this specific issue is resolved- I confirm anatomy terminology is initialized in the nightly.

[2016-11-25 13:42] #111 closed

[2016-11-25 16:07] che85 opened #116 "Remove temporary files from DICOM plugins"
- [x] DICOMParametricMapPlugin
- [x] DICOMSegmentationPlugin
- [x] DICOMTID1500Plugin
- [x] copy the DICOM files created by the converters to the DICOM DB directory

[2016-11-25 18:35] cpinter commented on #111
Thank you!

[2016-11-25 20:26] fedorov opened #118 "LoadAnatomicContextFromSegmentDescriptorFile fails when no anatomic region is present"
@cpinter this call locks up Slicer https://github.com/QIICR/Reporting/blob/master/Py/DICOMSegmentationPlugin.py#L167

Test dataset is attached.
[liver.dcm.zip](https://github.com/QIICR/Reporting/files/613845/liver.dcm.zip)

this is happening with a SEG dataset that does not have anatomic region populated. As a workaround, we can skip calling this function when anatomic region is not present, but I

[2016-11-25 20:33] fedorov commented on #118
Added "high priority" since the workaround is not that simple, and I don't know all of the consequences!

[2016-11-25 22:54] cpinter commented on #118
Hm I thought I implemented it in a way that it would't fail. Didn't test it though. I'll fix this asap

[2016-11-25 23:49] #113 closed

[2016-11-25 23:58] fedorov commented on #93
addressed in https://github.com/Slicer/Slicer/pull/629

[2016-11-26 00:05] fedorov commented on #93
Steve, I submitted a PR, let me know if anything needs to be fixed. Not urgent.

[2016-11-26 04:19] cpinter commented on #118
Fixed in Slicer core rev25576.
Sorry for the trouble! We'll need to add automatic tests to make sure there are no regressions.

[2016-11-26 12:37] fedorov commented on #118
Great, thanks! I confirm it is working in my local build.

[2016-11-26 12:37] #118 closed

[2016-11-26 12:39] fedorov opened #119 "Segments loaded from DICOM should have names as in DICOM SEG"
Currently segments names in the measurements table are correctly set from DICOM, but the segments list names are incorrect.

![image](https://cloud.githubusercontent.com/assets/313942/20640420/59c38ac0-b3ab-11e6-92ce-7c391d231069.png)

[2016-11-26 16:33] che85 commented on #119
I am not sure, how the Name column is populated. For the measurements table, I am calling segment.GetName()

@cpinter How are those names populated when loading them from DICOM?

[2016-11-26 16:35] fedorov commented on #119
Isn't there a setter for the name?!

[2016-11-26 16:39] che85 commented on #119
Yes there is, but it doesn't make sense to me that the names are displayed incorrectly. When you create a segmentation on your own and then change the segment name from the segment table, then it will also change in the measurements table. That's why I am wondering.

[2016-11-26 16:54] cpinter commented on #119
In the DICOM SEG loader, the segment name is the same as the temporary labelmap volume's name that was generated. I believe those nrrds are written out by your CLI

[2016-11-26 17:17] cpinter commented on #119
This is where segment name is set when loading:
https://github.com/QIICR/QuantitativeReporting/blob/master/Py/DICOMSegmentationPlugin.py#L278
I don't know where the proper name should come from, but it needs to be set here

[2016-11-26 17:19] che85 commented on #119
@cpinter Wouldn't it make sense to populate that from the terminology?

[2016-11-26 17:19] che85 commented on #119
But in any case, there is something wrong then. I will need to check .

[2016-11-26 17:28] fedorov commented on #119
I will need to look as well. As I think about it, there is a name for the measurements group in SR, and segment label in SEG. They don't have to be the same, and I think they are not. Please don't spend any time on this until I take a look. Sorry for the confusion!

[2016-11-26 17:28] fedorov commented on #119
In either case, there is a setter for segment name, right Csaba?

[2016-11-26 18:28] cpinter commented on #119
@che85 I didn't make any decisions re segment name, I simply made it work that was implemented at the NA-MIC week by Kyle (if I remember correctly).

@fedorov segment->SetName(newName)

[2016-11-26 18:33] cpinter commented on #119
Please see the line I referred to a few comments above. The argument of that call simply needs to be replaced from the proper name. I'm not sure what I can do to help further.

[2016-11-26 19:26] fedorov commented on #119
Csaba, I will look at it later today or tomorrow. Thanks for the clarification, nothing else is needed.

[2016-11-27 12:41] fedorov commented on #119
Ok, so there are several issues:

* segment name is set here https://github.com/QIICR/QuantitativeReporting/blob/master/Py/DICOMSegmentationPlugin.py#L228 as `seriesName + "-" + typeCodeMeaning + "-label"`, which does not make much sense
* segment name should probably be set to DICOM attribute SegmentLabel (Type 1), but that attribute is not included in the schema (but SegmentDescription is, which

[2016-11-27 12:42] fedorov commented on #119
To avoid any confusion - none of this is Csaba's fault! :)

[2016-11-27 21:40] fedorov commented on #116
Be careful here - if the temp dirs are removed, and output DICOMs are not copied, they will be lost!

[2016-11-27 23:14] fedorov opened #120 "RSNA2016 bug list"
Let's keep adding here issues identified during the conference instead of creating a new issue each time. After RSNA we can triage and decide how to proceed.

- [x] the module does not work in Slicer installed from scratch, since developer mode is not enabled, and it cannot find widgets!
- [x] SR round-trip does not work if Slicer is restarted - somehow the DICOM files created by the SR converter

[2016-11-27 23:24] fedorov commented on #110
@lassoan I forgot to mention another reason why the default presence of cross-hair in 3d is super-confusing - when I recenter the view, I don't see anything. My first instinct is - surface generation failed, but the true issue it is out of view because cross-hairs model messes up center calculation.

[2016-11-28 02:28] lassoan commented on #110
The crosshair is disabled by default. Do you experience any difference in behavior without explicitly enabling crosshair?

In most data sets, origin (LPS=[0,0,0]) position is "inside", often chosen to be near the point of interest. In what data sets you see the (0,0,0) position far from your data?

I agree that the behavior of "center view" button and "3D cube" is inconsistent if there are distant

[2016-11-28 02:53] lassoan commented on #120
"it cannot find widgets" => In general, only testing code should rely on finding widgets by Qt meta-object system, as these kind of lookups are invisible to developers and routine code changes may accidentally break them. It should be no problem to add the proper APIs to access all necessary widgets without searching.

[2016-11-28 02:55] lassoan commented on #120
Can you reproduce it by simply loading/creating table using Tables module and switching to 4up-table layout?

Table node supports locking to prevent accidental modifications. If a table is locked then you can still browse and copy the content but cannot modify it.

[2016-11-28 03:59] fedorov commented on #110
Yes, I definitely do. Re-centering works as expected when crosshair is not enabled.

Right - unless you deal with the screening scans covering large volumes, such as chest CT or whole body PET/CT. This is exactly what happened in my case - whole body PET scans with the lesions segmented in the head/neck area.

I do think it helps, but I think it should only be enabled when crosshair is activated i

[2016-11-28 04:05] fedorov commented on #120
I agree. Let's explore this. This approach is great for prototyping, but is not sustainable. Let's see how easy it will be to add all of the API calls to support this functionality properly.

Andras, I think this is related to how we customized table events for this module. What I asked Christian to implement is synchronized selection of rows in the table with the selection of segments in the segm

[2016-11-28 17:20] che85 commented on #120
@fedorov I totally forgot about the 4up-table layout. Generally the module is only listening to click events but I should rather let it listen to selection changed events.

Regarding finding of widgets, I guess you only meant parts of the developer section, right? I am going to commit a fix for that.

@lassoan How do I directly access that table view?

[2016-11-28 18:31] lassoan commented on #120
slicer.app.layoutManager().tableWidget(0).tableView()

[2016-12-02 14:58] fedorov commented on #104
@che85 as an intermediate solution, can you please implement the following:

 - [ ] assign tissue/tissue terminology codes at the time new segment is created (right now it is "blank"/"blank"), and pop up the Terminology selection dialog pre-populated so user can modify the selection
 - [ ] assign new segment name to be  `<SegmentationCategoryType>_<number>`, where `number` is `<number of segments

[2016-12-02 15:02] fedorov commented on #120
Related to #116

[2016-12-02 15:03] fedorov commented on #93
advisor PR integrated

[2016-12-02 15:03] #93 closed

[2016-12-02 20:35] che85 commented on #120
@fedorov I cannot reproduce the issues regarding the missing files after restarting Slicer SR round-trip. After creation of the SR and restarting Slicer, the DICOM Database doesn't have any issues finding the files.

[2016-12-02 21:18] lassoan commented on #104
For some use cases it's important to force the user to tell in advance what that segment will contain => showing a modal popup is a good choice.

Other times the user just wants to try something or create temporary segments that may not even have physical meaning (e.g., a mask to temporarily constrain painting in a certain region) => allowing the user to create new segment with a single click is a

[2016-12-02 21:34] che85 commented on #104
I agree, we could always just open that dialog once a segment is added with preselected category Tissue and type Tissue. That would be one more click.

I can also imagine to have a checkbox within the terminology widget next to the buttons which says "set as default" for preventing the dialog to popup every time a segment is added. You could save that default in Slicer settings or just leave it te

[2016-12-06 21:05] fedorov commented on #105
I suggest (if not very complicated) to implement the steps above before project week, and then at the project week discuss how LabelStatistics can be implemented in an extensible and incorporate query of the quantity/units codes as a plugin API.

[2016-12-07 18:53] che85 commented on #105
That's not trivial and not that easy to do. The tableview is based on the model [1], which controls what is displayed. It reacts to modifications of the MRMLNode.

In order to get it working in the proposed way, we would need to implement another model which is specific for our quantitative reporting and has access to all those information like the quanity and derivation.

I need to think about it

[2016-12-07 20:14] lassoan commented on #105
We could improve vtkMRMLTableNode to support metadata for each column, so that for each column where we could store unit, code value, code scheme designator, code meaning, tooltip text, ... Updating table view to use this metadata (show in tooltip, etc) would be quite easy. Metadata could be stored in the MRML node and written to a "standard" csv schema file (this would address the issue of wrongl

[2016-12-07 20:44] che85 commented on #105
So would that be another tablemodel which is specifically designed for taking json schema?

[2016-12-07 20:52] lassoan commented on #105
No, we would keep using the same table model, it would be just improved.

MRML node would be serialized to/from two files (csv+schema) instead of just a .csv file.

In memory, all data would be stored in the node. Values and some metadata (such as column type) would be obviously stored in vtkTable. Additional metadata could be stored in either vtkTable (e.g., in field data; or encoded in the colum

[2016-12-07 21:22] lassoan commented on #105
@fedorov Maybe you could ask around qiicr collaborators how they import (or would like to import)measurement results in csv files into their databases. We could implement their preferred schema in Slicer's table storage node.

[2016-12-08 01:12] fedorov commented on #105
@lassoan why can't we just use the component of the existing JSON schema that we use in dcmqi for communicating measurements back and forth between DICOM and non-DICOM? See https://github.com/QIICR/dcmqi/blob/master/doc/sr-tid1500-ct-liver-example.json#L45-L143

It is quite simple, it is formalized by a schema, it maps to DICOM, we have tools for going from DICOM to CSV, we don't need to come up w

[2016-12-08 01:46] lassoan commented on #105
Yes, sure, if we have something that may be already usable then we should definitely try that. Can you send examples (corresponding DICOM, schema, csv files)?

[2016-12-08 01:53] lassoan commented on #105
The linked json files are nice - do you have corresponding csv files?
I would of course prefer to work only with fully structured data, such as json, xml, dicom sr, etc. but the reality is that most people use spreadsheets for manual editing and analysis. So, we have to have a robust way of converting between json<->csv(+schema).

[2016-12-08 02:34] fedorov commented on #105
We don't support csv+schema route. dcmqi can do JSON<->DICOM SR TID1500, and we have a separate tool for DICOM SR TID1500 -> csv: https://github.com/QIICR/dsr2csv

I am open to discussion how to make it more approachable to most people, I agree, at least partially, with your concern...

[2016-12-08 02:35] fedorov commented on #105
Sample DICOM SR TID1500 dataset: https://github.com/QIICR/dcmqi/blob/master/data/sr-example/sr.dcm

[2016-12-08 02:36] fedorov commented on #105
dcmqi DICOM SR TID1500 converter parameters schema: https://github.com/QIICR/dcmqi/blob/master/doc/sr-tid1500-schema.json

[2016-12-09 20:08] fedorov commented on #120
I can't reproduce it either. I tried today's nightly and cleanup_temp branch, and the only error I am getting is this:

![image](https://cloud.githubusercontent.com/assets/313942/21062988/60779228-be21-11e6-8006-60bb719fde87.png)

[2016-12-14 18:18] cpinter commented on #79
Change committed in
https://github.com/Slicer/Slicer/commit/00f4d75d9695a97d5926fe073c48077449130829

[2016-12-14 18:19] cpinter commented on #104
Change committed in
https://github.com/Slicer/Slicer/commit/00f4d75d9695a97d5926fe073c48077449130829

[2016-12-14 22:10] #116 closed

[2016-12-19 18:42] cpinter commented on #104
@fedorov Have you been able to test it in the nightly? Please let me know if there are issues. Otherwise this can be closed. Thanks!

[2016-12-19 18:46] fedorov commented on #104
I am just in the process of doing it. We ran into some issues (non-applicable attributes are stored into JSON with the value of `null`), which I think might be related to the changes in the core, but we can handle them on our side. I think the main issue is resolved, so I am going to close this.

[2016-12-19 18:46] #104 closed

[2016-12-19 18:48] che85 commented on #104
Yes I am going to fix that issue on our side. Thanks a lot for the changes @cpinter it looks great.

[2016-12-19 18:49] cpinter commented on #104
Thanks Andrey and Christian! If the Json issue is something that can be addressed in the core, then I'd be happy to do that (it's best to fix bugs where they originate).

[2016-12-19 18:50] che85 commented on #104
To me it makes sense to set it to null on your side, I just need to check if it's null. That's all.

[2016-12-19 18:51] fedorov commented on #104
Definitely, Christian is investigating it, he will let you know if it is supposed to be fixed in the core.

Indeed, things look great, thank you for working on it!

[2016-12-29 18:32] #79 closed

[2016-12-29 18:32] fedorov commented on #79
This issue was resolved

[2017-01-09 14:47] fedorov opened #124 "No quantity/units available for PET images while creating a measurement report"
@che85 Ron failed when trying to save a report for a PET series downloaded from TCIA - can you check?

[2017-01-09 15:05] che85 commented on #124
Which dataset? Or does it happen to all of them?

[2017-01-10 16:12] che85 commented on #124
Ok seems like identified issues when using one of the PET datasets

[2017-01-10 17:42] che85 commented on #124
Issues identified here:
https://github.com/QIICR/QuantitativeReporting/blob/b0576c8035f58ea0ce8d09fbe4d068b9136e03d4/Py/QuantitativeReporting.py#L1043-L1065

While creating measurement items for the structured report we are so far only providing quantity and units for CT and MRI images

[2017-01-10 21:43] che85 opened #125 "Allow modification via unlocking measurement report when set to readonly"
Users should be allowed to unlock a readonly measurement report. Of the following things need to be taken care:

- [ ] don't touch the original measurement report or segmentation
  - [ ] create a copy of the table node
  - [ ] create a copy of the segmentation node and reference the copy in the new table node
- [ ] user can always go back an force via selecting original/copy in measurement selecto

[2017-01-10 21:44] che85 commented on #125
@fedorov Did I forget something? Feel free to add bullet points

[2017-01-10 21:47] che85 commented on #125
We might need to handle it differently based on the completion status, where continuing a just "saved" report can be continued and a "completed" cannot.

[2017-01-11 02:34] fedorov commented on #125
I am not sure it makes sense to create a copy of the measurements table, since we may not be able to recompute the original measurements. I think to me it would be more intuitive if on report modification the table is reset, user is allowed to modify segmentation, which would then be saved into a new DICOM object, and measurements table is recomputed.

[2017-01-12 19:33] che85 commented on #105
@lassoan Did you take a look at the json files? Do you have any comments, suggestions regarding the structure?

[2017-01-12 19:38] che85 commented on #74
@fedorov when using predecessor concept, how would you detect the final(most recent) version of the report? Basically you can only depend on those being stored in the SlicerDICOMDatabase and you would have to iterate through all SRs for the patient of the current SR and climb up the chain of references....

[2017-01-12 19:39] che85 commented on #74
@fedorov Another thing is: How would you want to save the intermediate results?

[2017-01-19 22:29] fedorov opened #127 "Store quantity and units of the loaded parametric map"
As discussed at project week and documented here http://wiki.na-mic.org/Wiki/index.php/2017_Winter_Project_Week/QuantitativeReporting, store the quantity/units as attributes of the loaded scalar volume.

[2017-01-19 22:56] fedorov commented on #127
Same approach should be applied to other modalities/plugins.

* when Units attrubute is present, cross link
http://dicom.nema.org/medical/dicom/current/output/chtml/part16/sect_CID_84.html
and "C.8.9.1.1.3 Units" in
https://fedorov.cloudant.com/dicom_standard_2015c/.site/chtml/part03/sect_C.8.9.html
by code meaning
* MR: quantity: (DCM, 110852, MR signal intensity), units: (1, UCUM, "no units")
*

[2017-01-20 14:01] #120 closed

[2017-01-23 15:31] fedorov opened #129 "Add handling of quantity/units to SegmentStatistics"
Andras, can you add a feature to Segment Statistics to check for the presence of `DICOM.QuantityValueCode` and `DICOM.MeasurementUnitsCode` attributes at the input scalar volume, and if those are present, populate these attributes for the output created by SegmentStatistics?

[2017-01-24 05:32] lassoan commented on #129
OK! Could you add a link to a scene file that contains such data?

[2017-01-24 05:37] lassoan commented on #129
How would you like to see the units in the SegmentStatistics output on the GUI?
How would you like to save the output to file (additional rows or columns in the table csv; separate column metadata csv, ...)?

[2017-01-24 18:11] fedorov opened #130 "Add documentation"
@che85 can you please add some documentation for the module?

I think doing it using gitbook following the template of SliceTracker is the most practical option, what do you think?

Also note that recently gitbook added capability to publish multiple files at once, so we might consider keeping documentation in the master branch instead of keeping a separate branch.

[2017-01-24 18:23] che85 commented on #130
Sure I can do that.

[2017-01-24 18:25] che85 commented on #130
The thing with having it in the master branch that we will have a lot more commits, which I don't really like. In my opinion there should be a clean separation between code and documentation

[2017-01-24 18:27] fedorov commented on #129
Attached.  [2017-01-24-Scene.mrml.zip](https://github.com/QIICR/QuantitativeReporting/files/727584/2017-01-24-Scene.mrml.zip) To reproduce, install QuantitativeReporting extension, and load this dataset: http://slicer.kitware.com/midas3/item/257243

I am open to discussion/suggestions, but my initial thought was to use quantity code meaning in place of "GS" in the column names. See the discussion

[2017-01-24 18:28] fedorov opened #131 "Failure when selecting parametric map as input for annotation"
Not sure what is going on ...

![image](https://cloud.githubusercontent.com/assets/313942/22260906/eefa40dc-e238-11e6-9097-0db9bc72d0f3.png)

Test dataset: http://slicer.kitware.com/midas3/item/257243

[2017-01-24 18:31] fedorov commented on #130
I think with the new gitbook features, it is less and might be more manageable, but I agree it might be better to keep them separately. Looking at the commit history for the dcmqi gitbook branch, it can get very messy! https://github.com/QIICR/dcmqi/commits/gitbook

[2017-01-24 18:34] che85 commented on #131
Not reproducible on my machine. The only thing, that I noticed is the usage of logging where logging is not imported in DICOMParametricMapPlugin.py

[2017-01-24 18:35] fedorov commented on #131
did you test with today's nightly?

I thought I added import logging, will check...

[2017-01-24 18:38] che85 commented on #131
No it's an older one. I will download today's ...

[2017-01-24 18:38] che85 commented on #131
Right, you added logging.

[2017-01-24 18:50] che85 commented on #131
@fedorov Importing it from DICOM and loading it into Slicer works without problems on my machine. Am I missing some steps?

[2017-01-24 18:56] fedorov commented on #131
What happens when you set it as input in QuantitativeReporting?

On Tue, Jan 24, 2017, 13:51 Christian Herz <notifications@github.com> wrote:

[2017-01-24 19:00] che85 commented on #131
That works for me too. The only thing that doesn't work is saving a SR for this series, since there are information missing in the reference image.

[2017-01-24 20:18] fedorov commented on #131
The issue appears to be unrelated to this module, is not always reproducible, and does not affect operation of the module (export is not supported for this specific type of data, but that is being handled in other issues).

[2017-01-24 20:18] #131 closed

[2017-01-24 20:38] che85 opened #132 "Adapt to changes from dcmqi"
related to https://github.com/QIICR/dcmqi/issues/146

[2017-01-24 22:58] #132 closed

[2017-01-24 22:59] che85 opened #135 "Invalid terminology information in tooltip and Slicer crash using segment descriptor file context"
Terminology seems not to work properly anymore when LoadTerminologyFromSegmentDescriptorFile/LoadAnatomicContextFromSegmentDescriptorFile are used.

Hovering over a segment within the integrated Segment Editor displays "invalid terminology information"

![image](https://cloud.githubusercontent.com/assets/10195822/22269990/be74ce1e-e25b-11e6-9efb-bb84d1cca89a.png)

Also, when creating new measureme

[2017-01-25 16:31] che85 commented on #135
@fedorov Any thoughts on this? It's essential for the paper...

[2017-01-25 16:34] fedorov commented on #135
I was hoping @cpinter and @lassoan will respond. Considering no response, can you investigate a bit deeper?

[2017-01-25 16:39] che85 commented on #135
I tested on nightly build 01/06/2017 with using the master dcmqi and master QuantitativeReporting. This worked for me which brings me to the conclusion, that it must be the integration of rapidjson

[2017-01-25 16:40] lassoan commented on #135
I've just got to this now. Quite likely regression due to rapidjson. I'm investigating.

[2017-01-25 16:45] lassoan commented on #135
I need step-by-step instructions to reproduce the problem (simply browsing/changing terminologies in Segment Editor works fine)

[2017-01-25 16:50] che85 commented on #135
1. load a structured report from the DICOM browser
2. open Quantitative Reporting
3. select table
4. hover over color icon and check if it works

[2017-01-25 16:52] che85 commented on #135
Dataset that I used is QIN-HEADNECK-01-0139 from http://slicer.kitware.com/midas3/folder/3771

[2017-01-25 16:53] fedorov commented on #135
= in the DICOM browser select a series with modality SR from that study that Christian mentioned above

[2017-01-25 16:55] lassoan commented on #135
ok, thanks!

[2017-01-25 18:03] cpinter commented on #135
I also just got the notification. I'll look at the issue with the data you linked.

[2017-01-25 18:09] fedorov commented on #135
Thanks guys!

[2017-01-25 18:13] cpinter commented on #135
Although the email header says 6PM yesterday, I'm pretty sure I just got it. Not sure why this is.
So in the future if something is urgent, probably sending a direct email too is a good idea, just in case.

[2017-01-25 21:03] cpinter commented on #135
Sorry for the delay, I needed to rebuild parts of Slicer after updating. I also updated and built DCMQI and QuantitativeReporting.

When I load the SR series, I get this error
`Traceback (most recent call last):
  File "C:/d/S4R/Slicer-build/lib/Slicer-4.7/qt-scripted-modules\DICOMLib\DICOMWidgets.py", line 790, in loadCheckedLoadables
    self.proceedWithReferencedLoadablesSelection()
  File "C:/

[2017-01-25 21:09] fedorov commented on #135
Csaba, we introduced a new dependency, which would be resolved if you installed via ExtensionManager.

You will need to build and add to the paths this extension: https://github.com/QIICR/Slicer-PETDICOMExtension

[2017-01-25 21:14] cpinter commented on #135
Good to know, thanks!

Is it intentional that the name of this extension has "Slicer-" prefix and "Extension" postfix, while the others have neither? (QuantitativeReporting, LongitudinalPETCT, etc)

[2017-01-25 21:21] cpinter commented on #135
After downloading and building the other extension I got past the previous error.
However I get another one, and I'm pretty sure it's not related to the original issue:

`Traceback (most recent call last):
  File "C:/d/S4R/Slicer-build/lib/Slicer-4.7/qt-scripted-modules\DICOMLib\DICOMWidgets.py", line 790, in loadCheckedLoadables
    self.proceedWithReferencedLoadablesSelection()
  File "C:/d/S4R/

[2017-01-25 21:22] lassoan commented on #135
I've installed PETDICOMExtension and the issue is the same.

[2017-01-25 21:26] che85 commented on #135
@cpinter That probably means, that the Segmentation is not properly loaded into Slicer. Are you using the most recent version of QuantitativeReporting and dcmqi?

[2017-01-25 21:26] cpinter commented on #135
Yes

[2017-01-25 21:27] che85 commented on #135
Other than that, there should be any error output in the log... or the segmentation itself is missing in the SlicerDICOMDatabase

[2017-01-25 21:27] fedorov commented on #135
@che85 could this be related to https://github.com/QIICR/dcmqi/pull/173? I have not tested the latest one, but it worked for me in earlier nightlies.

[2017-01-25 21:28] fedorov commented on #135
@cpinter that extension was developed by the Iowa team, and they follow their own naming conventions. I agree, I don't see a need for those. Maybe @chribaue can comment on this.

[2017-01-25 21:29] che85 commented on #135
@fedorov no that cannot be related since QIICR/dcmqi#173 is only about the webapps

[2017-01-25 21:30] cpinter commented on #135
I imported the whole folder into the database, so this should not be the problem
![image](https://cloud.githubusercontent.com/assets/1325980/22309935/67596ade-e31b-11e6-9fe9-864b53b2e965.png)

I get this in the log also:
"SEG2NRRD did not complete successfully, unable to load DICOM Segmentation"
"RWVM is referenced from SR, but is not found in the DICOM database!"
The second one makes no sense, as

[2017-01-25 21:31] fedorov commented on #135
If it is the same one that is referenced from SEG ... I will download the nightly and test from scratch now. Building is a slower option, since my slicer build is quite old.

[2017-01-25 21:33] fedorov commented on #135
@che85 sorry - I meant this one https://github.com/QIICR/dcmqi/pull/170. Maybe in the process of changing the attribute names something was broken?

[2017-01-25 21:34] che85 commented on #135
@fedorov No I am pretty sure that it doesn't have to do with that since I tested the new dcmqi and Quantitative Reporting with an older nightly of Slicer from 01/06/2017 before integration of rapidjson

[2017-01-25 21:39] che85 commented on #135
@cpinter @fedorov @lassoan I am getting the same error with the latest nightly. I will look into the error messages

[code]

[2017-01-25 21:42] che85 commented on #135
OK the above bug is related to a dcmqi issue invented by me when I implemented supporting more ITK output types:
[code]

[2017-01-25 22:04] cpinter commented on #135
Great, thanks! I hope it's easy to fix. After that I'll keep going on this one.

[2017-01-25 22:07] fedorov commented on #135
Nope, not so easy - there is something else. We are debugging it.

[2017-01-25 22:33] ejulrich commented on #135
@fedorov I followed the naming convention for extension repositories outlined in an [old Slicer wiki page](https://www.slicer.org/w/index.php?title=Documentation/Nightly/Developers/Tutorials/BuildTestPackageDistributeExtensions&oldid=36727 "old Slicer wiki page"). The naming convention suggests having the "Slicer-" prefix. The [current page](https://www.slicer.org/wiki/Documentation/Nightly/Develo

[2017-01-25 23:15] cpinter commented on #135
@ejulrich Thanks for the explanation! For some reason I assumed this extension also comes from SPL, so I was just surprised by the naming.

[2017-01-25 23:21] fedorov commented on #135
@cpinter people outside SPL actually read the guidelines about naming conventions! :)

@ejulrich thanks for the clarification, I suspected there must be a reason!

[2017-01-25 23:32] fedorov commented on #135
@cpinter can you update dcmqi and QuantitativeReporting to the latest master and try again?

[2017-01-26 00:41] cpinter commented on #135
I updated, and now loading suceeds. Thanks!

The crash happens at this line:
`segmentationCodes = terminologyRoot["SegmentationCodes"];`
It's not trivial why, I keep investigating.

[2017-01-26 00:47] cpinter commented on #135
It's unrelated but I discovered that the tag AnatomicRegionCodeSequence has changed since the implementation of this function to AnatomicRegionSequence, so it wouldn't have worked for sure if I don't notice this now. Changes in the file schema would be important to follow in the code.

[2017-01-26 00:52] che85 commented on #135
@cpinter both changed https://github.com/QIICR/QuantitativeReporting/pull/133/files

[2017-01-26 00:56] che85 commented on #135
@cpinter also see here https://github.com/QIICR/dcmqi/pull/170/files

[2017-01-26 01:03] cpinter commented on #135
I think it would be better to act proactively to make sure these changes are propagated throughout the code, as the alternative is a regression.

[2017-01-26 01:42] fedorov commented on #135
Csaba, indeed. We are struggling with propagating this kind of changes in other places as well. We should have thought about it. But error reporting could be improved too!

[2017-01-26 06:58] cpinter commented on #135
Unfortunately rapidjson differs from jsoncpp a great deal when it's about creating a document not querying one (which happens when converting from the descriptor json to the terminology dictionary json). I made some progress but not quite there yet. I'll let you know when I'm done with the fix.

[2017-01-27 00:03] cpinter commented on #135
Commit https://github.com/Slicer/Slicer/commit/67a87bc191baa97be9949677cae0e60e9f118724 fixes loading the segmentation descriptor files into terminologies and anatomic contexts.

Unfortunately when I tried it in release mode the terminology was empty (the anatomic context was correct). I will check why this is.

[2017-01-27 02:55] fedorov commented on #135
That's a lot of code, but looks like your goal is to make it more bullet proof in case there are missing items in JSON. Sorry, I didn't realize this would be so much work.

[2017-01-27 03:06] cpinter commented on #135
My goal was merely to make it work. As I said RapidJson's way is very different when it comes to creating objects, so the ugly syntax and the extra checks are due to the stricter nature of the library.

I'm still not sure why the regions are loaded fine while the terminology is not. It's only in release mode, as in debug both work.

[2017-01-27 04:58] lassoan commented on #135
clang build errors/warnings may give a hint about what's wrong:

Build command: /Users/kitware/Dashboards/Support/CMake-3.5.0-rc3.app/Contents/bin/cmake --build . --config "Release" -- -i -j9 -l8
Start Time: 2017-01-27T04:10:22 UTC
End Time: 2017-01-27T04:54:55 UTC

Modules/Loadable/Terminologies/Logic/vtkSlicerTerminologiesModuleLogic.cxx
/Users/kitware/Dashboards/Nightly/Slicer-0/Modules/Loadabl

[2017-01-27 16:01] cpinter commented on #135
I just made another commit that fixes the release issues https://github.com/Slicer/Slicer/commit/552a37c04f97434eecb94ca39c5cf8282053925a.
I still need to fix minor things (right now the same descriptor file cannot be loaded twice because then the whole context becomes empty), but decided to make the commit to see if it fixes the Mac build errors. I cannot seem to build Slicer on my Mac any more,

[2017-01-27 16:05] fedorov commented on #135
👍  thanks - will start the build. Do you want Debug or Release?

[2017-01-27 16:08] cpinter commented on #135
I think Release would be better because then you could test the previous release issue as well. Thank you!

[2017-01-27 16:19] cpinter commented on #135
A piece of good news: QuantitativeReporting works with the latest commit, at least on Windows:
![image](https://cloud.githubusercontent.com/assets/1325980/22378116/737dfd62-e482-11e6-8c03-fb53bccc63eb.png)
Sorry that the fix took so long! RapidJson is very different from JsonCpp!

[2017-01-27 17:03] fedorov commented on #135
macOS + Release = SimpleITK build error

![image](https://cloud.githubusercontent.com/assets/313942/22379747/9789f19c-e488-11e6-9696-3257b10c77dc.png)

[2017-01-27 17:03] fedorov commented on #135
I thought this used to work ... let me think what I can turn off/change ...

[2017-01-27 17:26] cpinter commented on #135
Strange. Unfortunately the CircleCI check also doesn't work any more (the last 15 or so checks failed the same way although all of them except my commit yesterday should have passed). Maybe we can ask Steve or someone to try to build it as well. I understand it's really urgent to make this work, and Christian only has Mac.

FYI I committed another small fix, it should be good now. There is only on

[2017-01-27 17:37] fedorov commented on #135
I have no idea what is going on with my build. I checked the manual, and there are no special provisions re SimpleITK on Mac. @che85 can you run a build on your system? Maybe it is because my OS is couple of generations old. Although, I know my build was working recently.

[2017-01-27 17:42] cpinter commented on #135
I got similar ITK-related errors about but when building CTK. I also skipped OS updates, and I stopped being able to build Slicer a few months ago. I'm updating now to whatever animal or national park is the latest, then try from scratch. I won't be able to finish today for sure though.

[2017-01-27 17:44] fedorov commented on #135
I will update, but not before Feb 1 - too much risk of breaking things I will need for the paper!

[2017-01-27 17:47] fedorov commented on #135
Ah, I think I might have found it!

I think I actually did have this issue before. I will be trying this suggestion from Brad that worked last time:

Maybe not too late for you!

[2017-01-27 17:49] cpinter commented on #135
It is :( However a build error should be quite easy to fix once you can reproduce. Although I hope the error is gone, as they seemed to be related to two warnings which I fixed since then.

[2017-01-27 17:50] che85 commented on #135
@cpinter I cannot recall if I have ever seen this error message.

[2017-01-27 17:51] fedorov commented on #135
@cpinter to make you feel better - that trick did not help!

[2017-01-27 17:51] cpinter commented on #135
@che85 Thanks! I'm trying to fix it, but nevertheless, if the Mac build is OK then it will work now.

[2017-01-27 17:56] lassoan commented on #135
It would be useful to limit SimpleITK dependency, as it's a huge component and the inability to debug makes troubleshooting almost impossible on Windows. Of course SimpleITK can be still used, but try to implement modules so that only those features are not available that actually require SimpleITK.

[2017-01-27 18:10] cpinter commented on #135
@pieper If you can easily update and build Slicer on your Mac would you please try that? Thank you!

[2017-01-27 18:13] che85 commented on #135
I am also going to build Slicer from scratch now on my Mac.

[2017-01-27 20:15] che85 commented on #135
I was able to build Slicer without problems from Slicer/Slicer@707ee807afa069efb9732aad8646a41e5980eadc

[2017-01-27 23:59] pieper commented on #135
I've started a fresh mac build of the current master.

On Fri, Jan 27, 2017 at 3:15 PM, Christian Herz <notifications@github.com>
wrote:

[2017-01-28 00:50] pieper commented on #135
My fresh (debug) build seems to work fine.  Is there something else to test?

[image: Inline image 1]

On Fri, Jan 27, 2017 at 6:58 PM, Steve Pieper <pieper@isomics.com> wrote:

[2017-01-28 00:58] cpinter commented on #135
That's great news, thanks!

@che85 could also build, so he can test the rest with the proper dataset and extensions.
I was worried it didn't build because the error message didn't make much sense to me, and was not sure if my commit actually fixed it.

[2017-01-28 02:33] che85 commented on #135
@cpinter no I cannot test it with my Slicer build since Slicer is not starting properly on my Mac OS Sierra. Will have to wait for the next nightly build.

[2017-01-28 03:50] cpinter commented on #135
@che85 Do you know why it doesn't start? This is not what I'd call built without problems.

[2017-01-28 03:54] che85 commented on #135
@cpinter Slicer built 100% without errors. My startup problems already existed months ago...

[2017-01-28 06:40] che85 commented on #135
Seems like the nightly failed on the build system for Mac: http://slicer.cdash.org/viewBuildError.php?buildid=962482

Interesting that neither @pieper nor my build failed

[2017-01-28 06:49] lassoan commented on #135
It seems to be a ConstMemberIterator / MemberIterator mismatch.

Solution is probably to replace RemoveMember by EraseMember as suggested here: https://github.com/miloyip/rapidjson/issues/721

@cpinter Can you give this potential solution a try? (if you cannot test it yourself then just change it and wait for the next nightly)

[2017-01-28 14:23] cpinter commented on #135
I replaced all RemoveMember calls to EraseMember, and it seems to work OK.
I cannot test Mac build (and apparently Christian and Steve cannot either as it succeeded for them before), so we'll see how the nightly goes.

[2017-01-28 17:30] fedorov commented on #135
I built Slicer with SimpleITK disabled, in Release mode. Loading works fine, and I see segmentations overlayed. I cannot access QuantitativeReporting UI, since it has a dependency on SimpleITK, but when I try to switch to SegmentEditor, I get a crash.

I will now build in Debug to see if I can get any more info on the crash.

[2017-01-28 17:54] fedorov commented on #135
Ok, I am super confused now - now it is working! It was crashing repeatedly, then I discovered it was actually build in debug mode (I guess the flag got reset as I was rebuilding), so I ran it in the debugger, it didn't crash, and now I cannot reproduce the problem. Hope I was just messing something up earlier - fingers crossed for tomorrow nightly!

[2017-01-28 17:59] cpinter commented on #135
Thanks for the news, Andrey! We're actually late from a party now, so I'll then stop trying to reproduce and will get back to it in the evening. I hope it's not broken!

[2017-01-28 18:06] fedorov commented on #135
Csaba, definitely - it makes a lot of sense to wait until tomorrow. Thanks for your efforts!

[2017-01-29 14:17] cpinter commented on #135
Mac build was successful on the factory, so that's good.
I tried reproducing the crash with Segment Editor, but I was unsuccessful.
Let me know if there are further issues.

[2017-01-29 22:11] fedorov commented on #135
Confirmed, looks good - thanks!!

[2017-01-29 22:11] #135 closed

[2017-01-30 15:05] che85 opened #138 "When loading a SR display the reader name of the SR within the watchbox"
Currently even when loading a SR from DICOM into QuantitativeReporting, the displayed _Reader Name_ is the Slicer _user name_

[2017-02-01 17:47] fedorov commented on #129
@lassoan do you need any more clarifications on this? What are the next steps and timeline?

[2017-02-14 21:53] fedorov opened #140 "DICOM export plugin"
Currently it is only possible to export segments that were created within QuantitativeReporting. Need to investigate the generic DICOM export plugin mechanism to make this more broadly available. The challenge is that we will only be able to support export of segments done on a DICOM series.

TODO:
 - [x] test Subject Hierarchy 2.0 and look into how DICOM export plugins are supported there

[2017-02-18 22:15] fedorov opened #141 "Auto discovery of terminology json files in Slicer"
@cpinter I am adding this issue here, so it is easier to track progress.

[2017-02-23 21:08] fedorov commented on #141
Could add the additional JSON files to the NA-MIC settings folder (need to confirm this folder can be accessed in a general fashion)

[2017-02-23 21:22] che85 opened #142 "On saving report prompt user in case there are hidden segments"
user should be asked if hidden segments should be included in structured report and segmentation

[2017-02-23 21:34] fedorov opened #143 "API to better handle visibility of individual UI elements"

[2017-02-23 21:34] fedorov opened #144 "Layout optimization to minimize empty space (e.g., Effects panel has a big empty area)"

[2017-02-23 21:37] fedorov opened #145 "Slicer crash when doing creating segmentations and quitting Slicer afterwards"
Same on Windows machines as far as I could test it.

[2017-02-23 21:43] fedorov commented on #140
TODO:

 - test Subject Hierarchy 2.0 and look into how DICOM export plugins are supported there

[2017-02-23 21:45] cpinter commented on #145
I tested it right now on rev25717, and I had no problems after exiting Slicer. Here's what I did:
* Load MRHead
* Go to Segment Editor
* Add segment
* Use Paint effect to paint something
* Exited Slicer
Nothing happened, it seemed to be a clean exit. The only message on the terminal was that "vtkDebugLeaks has found no leaks"

[2017-02-23 21:48] fedorov commented on #145
to clarify, the report above was from @che85 - I didn't do testing to confirm this. A bit misleading with converting notes I copy-pasted from email into an issue!

[2017-02-23 21:50] cpinter opened #146 "Quick lists of terminology entries"
It would be much more convenient for the user if instead of having to go through the lengthy lists in the big terminology they had the option to create quick lists of the used entries (we also called these presets).

Proposition:
* Storage:
Have a private scene for the terminology logic that contains segmentation nodes with empty segments, one each for one saved entry. This private scene can also

[2017-02-23 21:50] che85 commented on #145
@cpinter could you try steps 1. to 4. again and then push "Restart Slicer"? That's when I get the errors.

[2017-02-23 21:52] cpinter commented on #145
By clicking restart Slicer it did crash, but the new Slicer appeared alright.
Good, now we know how to reproduce. I hope the debugger will show a usable call stack.

[2017-02-23 21:54] che85 commented on #145
Same happens on ubuntu:

[code]

[2017-02-23 21:57] cpinter commented on #141
I was able to bedug. The problem is that by the time the module exit function is called, the views are already dstroyed, and when trying to remove actors, it crashes. I find it strange that restart and simple exit works differently. I'll try to do a check before removing those actors using the layout manager.

[2017-02-23 21:58] cpinter commented on #145
I was able to debug. The problem is that by the time the module exit function is called, the views are already dstroyed, and when trying to remove actors, it crashes. I find it strange that restart and simple exit works differently. I'll try to do a check before removing those actors using the layout manager.

[2017-02-23 22:20] cpinter commented on #140
The DICOM plugins work exactly the same way, but instead of storing subject hierarchy nodes, it stores subject hierarchy item IDs (and the getter functions etc are different). So if you check it out in the current Slicer code, the idea will be the same, and the code will be very similar.

The only thing I suggest is to wait for the new one before making any changes.

[2017-02-23 22:34] cpinter commented on #145
Fixed. Please test, thanks!

[2017-03-01 20:27] cpinter commented on #141
Committed in
https://github.com/Slicer/Slicer/commit/48a32d6a3e7524533d9f196064dc909887ab0998
I'm testing on Mac now

[2017-03-01 20:44] che85 commented on #145
Tested and works for me fine. Closing this issue.

[2017-03-01 20:44] #145 closed

[2017-03-01 20:58] cpinter commented on #143
As far as I know @lassoan took this task, please assign to him

[2017-03-01 20:58] cpinter commented on #144
As far as I know @lassoan took this task, please assign to him

[2017-03-01 20:58] che85 commented on #143
The following components should be directly accessible from python:
* (maybe) UndoRedoButtonBox
  * UndoButton
  * RedoButton,
* EffectsGroupBox
* OptionsGroupBox
* MaskingGroupBox
* AddSegmentButton
* RemoveSegmentButton
* CreateSurfaceButton
* segment table and the status (label?) on top of it.

It might make sense to hold a list of UI component object names which should be accessible by develop

[2017-03-01 20:59] che85 commented on #143
@cpinter Sorry I wasn't sure.

[2017-03-01 21:08] lassoan commented on #144
Please check the layout in latest nightly version, there is no more wasted space. I've found it difficult to find and click effect buttons, especially on high-DPI screens so I've made the effect name appear by default but it can be switched off if you are tight on space.

[2017-03-01 21:19] che85 commented on #144
@lassoan why would you display `Options` even when there are no options available?
![image](https://cloud.githubusercontent.com/assets/10195822/23481733/8228c93c-fe9a-11e6-94b8-4ea46b98d1c3.png)

## And still even if there are options available it takes more space than it should.

![image](https://cloud.githubusercontent.com/assets/10195822/23481785/b9e46098-fe9a-11e6-9310-b4aeba54a757.png)

[2017-03-01 21:27] lassoan commented on #143
I would prefer to control what developers can change in the widget to make sure we can keep the editor widget appearance and behavior consistent across all modules (and if you have good ideas for improvements then not only Reporting but all other modules should use that). For example, we could develop maybe 2-3 alternative layouts (normal, space-saving, horizontal) with a few options (show/hide bu

[2017-03-01 21:28] lassoan opened #147 "Make list of displayed effects configurable"
For example: setAvailableEffects([Paint, Draw, Erase, ...])

[2017-03-01 21:29] cpinter commented on #144
Probably getting the size hint from the options widget and setting its height to its container would solve it.
Also we could do this for the segment list too (and maximize its size in N segments). Thoughts?

[2017-03-02 15:03] cpinter commented on #141
Works on Mac too.

[2017-03-02 22:51] che85 opened #149 "BUG: referenced image in segmentation is not properly loaded from DICOMDatabase"
Getting the following error. Segmentation is loaded, but reference image is not.

![image](https://cloud.githubusercontent.com/assets/10195822/23530615/7d637b46-ff70-11e6-9ae4-53f769342e37.png)

[code]

[2017-03-02 22:56] fedorov commented on #149
this was showing up before, right?

Does this segmentation you are loading reference images?

[2017-03-08 13:36] fedorov commented on #141
Csaba, @chribaue tried to put this to work, and we identified a limitation that I missed earlier. In the current implementation, anatomic region context selection (and the corresponding JSON import by the user) is not exposed in the GUI and cannot be configured by the user. Can you add that feature? Should I summarize this in a separate issue?

[2017-03-08 13:55] cpinter commented on #141
Yes please, I think a separate issue would be helpful.
I assumed the anatomic region context does not need to be customized. Another wrong assumption...
Thanks

[2017-03-08 14:14] fedorov commented on #141
Sorry for not providing this instruction/feedback earlier. This is my fault. I will add an issue.

[2017-03-08 14:17] fedorov opened #150 "Add selector for Anatomic context"
Now that there are multiple types of input JSONs, it will probably be good to check the `@schema` attribute in the input files to confirm what they represent.

https://github.com/QIICR/dcmqi/blob/master/doc/segContexts/AnatomicRegionAndModifier-DICOM-Master.json#L3

[2017-03-08 14:18] fedorov commented on #150
cc: @chribaue

[2017-03-08 14:24] chribaue commented on #141
Thank you for your support guys! This would be really helpful.

[2017-03-22 13:38] #141 closed

[2017-03-22 13:39] fedorov commented on #143
@che85 can you please respond?

[2017-03-22 13:45] cpinter commented on #150
The schema attribute is not present in the json files in Slicer core.
https://github.com/cpinter/Slicer/blob/master/Modules/Loadable/Terminologies/Resources/AnatomicRegionModifier-Master.json
Shouldn't they be updated?

[2017-03-22 13:49] fedorov commented on #150
Let's wait for a little bit more. The updated version of AnatomicContext is missing `showAnatomy` attribute (@dclunie is working on fixing that).

Also note that @chribaue reported a crash trying to load AnatomicContext with the current implementation. I guess once we have the schema attribute initialized, you would be able to check that and ignore json files that are not relevant, right?

[2017-03-22 13:50] cpinter commented on #150
Also, how much should we rely on these attributes? What I mean is that currently there is one user directory for terminologies, and
1. If we consider these attributes mandatory and that they unambiguously identify whether the file is a terminology or anatomic context, then we can put them in that directory
2. But if we cannot rely on the attribute in the above way, then we could create another Ana

[2017-03-22 13:52] fedorov commented on #150
We control those files, ideally they should be mirrored from dcmqi, so I think it should be ok to rely on the presence of the schema attribute. This would also force the users creating their own contexts to validate the files before they try to load them in Slicer. We have an online tool for that: http://qiicr.org/dcmqi/#/validators

[2017-03-22 13:58] fedorov commented on #150
Sorry, I should correct myself - the updated version of the SegmentationContext is missing that attribute: https://github.com/QIICR/dcmqi/blob/master/doc/segContexts/SegmentationCategoryTypeModifier-DICOM-Master.json. So it should be safe to take the current version of AnatomicContext-DICOM, and also update the version of SegmentationContext-DICOM-Master from January, which has showAnatomy attribu

[2017-03-22 13:59] cpinter commented on #150
OK so the schema attribute can identify the type well in the files we control.

My question was intended to be about the files the users load, and are copied into a user folder (the above mentioned NA-MIC/Terminologies one), from where they are loaded at startup.
So if we expect the users to have this attribute there the correct way, then we can have the one folder. Otherwise, if we allow sloppyne

[2017-03-22 14:00] cpinter commented on #150
I'll update the json files then. Is the SlicerGeneralAnatomy one from January also OK?

[2017-03-22 14:04] fedorov commented on #150
Right, I would encourage users to follow the schema and validate jsons before trying to import them.

Let me list the versions of JSON files that I believe are correct and should be used:

* DICOM Anatomic context - use master: https://github.com/QIICR/dcmqi/blob/master/doc/segContexts/AnatomicRegionAndModifier-DICOM-Master.json
* DICOM Segmentation context - use this version (I used a wrong URL i

[2017-03-22 14:07] cpinter commented on #150
Great, thanks!

[2017-03-22 14:11] che85 commented on #143
@lassoan Why not exposing all components? I as a developer want to be free in how to organize the UI elements. I don't agree with having predefined layout unless you have a designer who did some research on how to propose components the best way to users.

A UI should always be space-saving but highlighting the important components for guaranteeing the best possible user experience. If you want de

[2017-03-22 14:26] lassoan commented on #143
GUIs are always problematic, as it is difficult to gather hard evidence and everybody has his own opinion. Don't expect anything from UX designers, unfortunately more often they make more harm than good.

What I would like to use your insights and experience and improve the common widget instead of letting everybody do random customizations. It doesn't have to be one exact layout: we can define a

[2017-03-22 15:14] fedorov commented on #143
@lassoan Christian proposed the specific items he would like to be able to control in this comment: https://github.com/QIICR/QuantitativeReporting/issues/143#issuecomment-283467948. Is this not detailed enough, or is he asking for more flexibility than you would prefer to allow?

[2017-03-22 15:22] lassoan commented on #143
The above list of widgets to expose is not enough (they are already exposed anyway, just not explicitly allowed). I would need to know what are the custom layout(s) and options we should support, and also information on why these are useful, what are they optimized for.

[2017-03-22 17:10] #150 closed

[2017-03-22 17:11] cpinter commented on #150
Commit made in https://github.com/Slicer/Slicer/commit/14e5b76d6dcc291ebaec7dcf53a45f5d5867f316
If is supposed to fix each request in this issue.

[2017-03-22 17:12] fedorov commented on #150
Thank you!

@chribaue please let us know if this works for you, and please consider contributing the json files you created for your application to dcmqi.

[2017-03-22 17:21] chribaue commented on #150
Thank you! I will test it with the next nightly build of Slicer.

[2017-03-22 19:24] pieper commented on #150
I hope that by "encouraging users to follow the schema" you don't mean that
Slicer will crash when supplied invalid files!  I guess you mean that there
will be an error dialog that points them to the validation tool?

Did you try the validation tool with the current QWebView in Qt4?  I may
work.  if not it will surely work in Qt5's QWebEngine ore for now we could
also open their default browser to

[2017-03-22 19:31] cpinter commented on #150
@pieper I added safeguards for missing/invalid schema. There is an error message box popping up, with the details in the log.

[2017-03-22 20:26] lassoan commented on #147
Implementation is ready (https://github.com/Slicer/Slicer/commit/abd8faf149fe6de0df4a63fec5c03d98e74312dd), will be available in tomorrow's nightly. Please test and reopen the ticket if there is any problem or need for enhancement.

[2017-03-22 20:26] #147 closed

[2017-03-22 22:24] lassoan commented on #143
I've implemented effect list customization. Looking forward to getting more info from Christian to implement the rest of widget customization. If you already have a script that makes the widget look the way you like it then that could work as a specification, too. Or just send screenshots or sketches.

[2017-03-22 22:38] che85 commented on #143
@lassoan This is how it's implemented for quantitative Reporting right now.

![image](https://cloud.githubusercontent.com/assets/10195822/24223898/a99b7312-0f2e-11e7-9cd7-daae8395c2c4.png)

[2017-03-22 22:40] che85 commented on #143
When no effect is selected, those UI components below the undo/redo are in my opinion unnecessary

![image](https://cloud.githubusercontent.com/assets/10195822/24223943/f58f5752-0f2e-11e7-84ad-1e8bb48a3479.png)

[2017-03-22 22:43] che85 commented on #143
Instructions like the following should be concealable

![image](https://cloud.githubusercontent.com/assets/10195822/24223992/38d43320-0f2f-11e7-9f42-360e0c47188e.png)

[2017-03-22 22:44] fedorov commented on #143
I agree with Christian's observations.

[2017-03-22 22:44] che85 commented on #143
The following checkboxes could go into a horizontal layout in order to save space
![image](https://cloud.githubusercontent.com/assets/10195822/24224078/9ba8eb26-0f2f-11e7-8bc8-89c47fdd59e6.png)

[2017-03-22 22:47] che85 commented on #143
There should not be that much space under the dropdown

![image](https://cloud.githubusercontent.com/assets/10195822/24224143/ece88df2-0f2f-11e7-8e98-1d7b456e2aa0.png)

[2017-03-23 14:03] fedorov commented on #147
@che85 can you please test and comment here?

[2017-03-23 14:10] fedorov commented on #150
@pieper by "encouraging users to follow the schema" I mean just that. No, I don't think we tried loading the validator in web view. @che85 can you try that? Definitely it would be ideal to be able to validate incoming JSON.

[2017-03-23 14:43] che85 commented on #147
That works fine. Thanks!

[2017-03-23 14:46] che85 commented on #143
The newer version of the SegmentEditor looks a bit different:

![image](https://cloud.githubusercontent.com/assets/10195822/24253092/bbef38f0-0fb5-11e7-9361-af232878bcf4.png)

What I notice here is that the background of the icons should be transparent
![image](https://cloud.githubusercontent.com/assets/10195822/24253115/cbe42bd0-0fb5-11e7-8ef8-5c8a270bb00e.png)

the same way it is here:
![image](

[2017-03-23 15:02] che85 commented on #150
Using the validators with QWebView works, but the layout is somehow messed up. I am not sure if this is related to the webview itself or to AngularJS

[2017-03-23 15:02] cpinter commented on #150
Sounds good. Once @che85 investigated embedding the validator, I can make the popup dialog more specific, and add a shortcut to the validator.

[2017-03-23 15:10] che85 commented on #150
I tested on Google Chrome, Safari, Microsoft Edge and Firefox. All of them display the validator page correctly.

So I assume that's related to the QWebView then.

[2017-03-23 15:11] chribaue commented on #150
I just tested loading my anatomic context json file. It works as it should. Loading an erroneous json file also doesn't crash Slicer anymore.

[2017-03-23 15:11] cpinter commented on #150
Another reason to look forward to Qt5. I can simply present an http link that opens in browser.

[2017-03-23 15:11] chribaue commented on #150
Using the functionality for selecting segmentation type and anatomic region, I would have one additional feature request:

Whenever, I click in the Segmentation Module (or the Segment Editor) on "Add Segment" and then want to select the segmentation type and anatomic region, the dialog dialog box for selecting these properties doesn't remember the segmentation category and anatomic context I had p

[2017-03-23 15:12] cpinter commented on #150
@chribaue Very valid point. I can make the change relatively easily.

[2017-03-23 15:23] che85 commented on #150
@cpinter this code opens the native webbrowser

[code]

[2017-03-23 15:23] fedorov commented on #150
@chribaue if I were you, I would go even further and constrain the user to the specific segmentation/anatomic context that makes sense for your application, since you are developing a custom workflow for a very specific analysis task. Depending on how you envision the use of your module, those selectors can be either completely hidden, or at least be collapsed. @cpinter what do you think? Should t

[2017-03-23 15:25] fedorov commented on #150
Regarding validator, the ideal situation would be to validate imported json without any popups, and then only if the error is detected, show the validator window to allow fixing identified issues. @che85 do you think something like this could be possible?

[2017-03-23 15:31] che85 commented on #150
@fedorov I can imagine that with qt5 yes. I don't know much about the new api, but I assume, that even "simulated" user interaction should be easy, so that We could simply set the validation input to the validators and having a flag that signalizes validation errors and then pops up.

We should only need to see if that's becoming annoying to the users and if so, we could make it optional and just

[2017-03-23 15:34] fedorov commented on #150
Makes sense. I suggest for now we only pop up the validator if there are errors loading the context (i.e., C++ loader fails for whatever reason).

[2017-03-23 15:36] cpinter commented on #150
@fedorov Constraining the user to specific context may be useful. How do you imagine setting/removing that constraint?

But in any case, I'd move that discussion to a different issue, as its scope is much larger than the simple default selection fix @chribaue suggested. I think I'll implement that for now though.

[2017-03-23 15:37] cpinter commented on #150
@che85 Thanks but all of the terminologies logic and widgets are in C++

[2017-03-23 15:41] fedorov commented on #150
I would imaging to provide some API to hide those components for the developers integrating SegmentEditor into their workflows. It could also be helpful to put those selectors in a collapsible area, which would be open or closed depending on the developer preference.

👍

[2017-03-24 13:32] cpinter commented on #150
I started working on the navigator widget remembering the last context selection, but unfortunately it goes against a previous decision we made, namely that each new segment is assigned Tissue/Tissue, which entry is contained by the slicer general anatomy context.

@fedorov @lassoan What do you think should be the new behavior? A few options:
1. Set no terminology by default, and remember the last

[2017-03-24 13:36] fedorov commented on #150
Makes sense ... Another idea is to pre-select the first entry in the list of the selected context as default, when the first segment is added, and otherwise use the selection used for the last segment added?

[2017-03-24 13:38] pieper commented on #150
How about adding a 'recently used' area in the widget, something like what
the color selector in the old editor did.

On Fri, Mar 24, 2017 at 9:32 AM, Csaba Pinter <notifications@github.com>
wrote:

[2017-03-24 13:43] cpinter commented on #150
@pieper This feature is in the plans, a.k.a "quick lists" or "presets". Now the question is simply the default selection for a new segment.

@fedorov "in the list of the selected context as default" - selected when?

[2017-03-24 13:49] fedorov commented on #150
@cpinter isn't context an attribute for the segmentation created in SegmentEditor? Or is it completely separate and is only relevant in the terminology widget? I assumed Segmentation node is "parameterized" by segmentation and anatomic context.

[2017-03-24 13:52] cpinter commented on #150
Terminology information is stored in the segments (contained by the segmentation, and the segmentation itself contains no terminology info). By default, a new segment's terminology tag is set to slicerGeneric/Tissue/Tissue. When the user invokes the terminology selector, the tag from the segment is read, and that entry is selected in the widget

[2017-03-24 13:58] cpinter commented on #150
Personally, I'd go with suggestion 1, and in case of an empty terminology (which will be empty for new segmentations), the following will be pre-selected in the widget: terminology context, terminology category, anatomic context.

[2017-03-24 13:59] fedorov commented on #150
I suggest Segmentation should be augmented to contain the pointer to the "default" terminology context. When a new segment is created, the first "term" from the "default" terminology context should be used.

[2017-03-24 14:00] cpinter commented on #150
I like this suggestion too. I was going to store the last selected terminology in the application settings, because I think the user would like to keep using their custom terminology across Slicer sessions.

[2017-03-24 14:03] cpinter commented on #150
(We could do a quick 2-minute hangout, so that we can discuss it more efficiently)

[2017-03-24 14:56] fedorov commented on #150
That's a good idea too! Workflows could then change that setting if they want to use application-specific context.

Unfortunately, there is no "standard" way to associate segmentation context with the DICOM Segmentation object, so we would not be able to initialize the default segmentation context for the segmentation node after loading from DICOM, so perhaps your suggestion to store the context t

[2017-03-24 15:09] cpinter commented on #150
Changes committed in
https://github.com/Slicer/Slicer/commit/9613ba223b8074128b56f32746ae653c8c4d9569
Let me know if any of the two changes (see commit message) need tweaking

[2017-03-24 15:21] chribaue commented on #150
@fedorov Yes, I think this is helpful for several users and workflows.

[2017-03-25 19:55] lassoan commented on #143
I've implemented all suggestions (except one is still WIP, pending a CTK merge):
* When no effect is selected, those UI components below the undo/redo are in my opinion unnecessary => done
* Instructions like the following should be concealable => I've implemented collapse option for fitted text browser (https://github.com/commontk/CTK/pull/703). It'll allow showing only a short single-line help t

[2017-03-25 20:07] lassoan commented on #143
Should I remove white background from all the icons?

[2017-03-27 14:24] che85 commented on #143
Thanks a lot. I am looking forward to testing it.

I would always remove the background from icons ...

[2017-04-03 14:19] che85 commented on #149
I am going to try that again with the current nightly build

[2017-04-03 14:29] che85 opened #151 "Adapt code to changes in Segment Editor"
No effects are visible anymore

related to #143

[2017-04-03 15:22] che85 commented on #143
@lassoan

The options groupbox is still visible on the current nightly even when there is no effect is selected.

![image](https://cloud.githubusercontent.com/assets/10195822/24616568/855c64ae-185f-11e7-97b2-7f01e4c8fa4c.png)

Another thing that not quite belong here is that the Segment Editor creates a vtkMRMLSegmentationNode once the Segment Editor is entered (which is also the case when opening

[2017-04-03 15:26] che85 commented on #149
Ok it's still not loading the referenced image. Need to take a look into this

[2017-04-03 15:27] che85 commented on #149
Getting the following error message:

[code]

@fedorov any idea what's going on here? Any changes in the Scalar Volume Plugin?

[2017-04-03 15:33] cpinter commented on #149
This warning is the result of changes related to http://www.na-mic.org/Bug/view.php?id=4347.
Most probably this warning (not error) was already identified before, but now it is shown in the interactor. As there is no other difference, probably this is independent of your issue.

[2017-04-03 15:38] fedorov commented on #149
@che85 it looks like the warning is caused by the scalar volume plugin trying to make sense out of the SR object. It is not expected to be able to do it.

[2017-04-03 15:44] cpinter commented on #149
At the examine step, each plugin looks into the object, and it is normal. If it tries to load it, then it is a problem. I have had similar issues with the DMRI plugin recently.

[2017-04-03 17:30] che85 commented on #143
@lassoan I just noticed that it would be great to have a read only mode for the Segment Editor. In case that we want to load a "completed" SR, the user should neither be able to add/remove any segments nor modify any of the segments. Therefore I would suggest to expose to the developers the button(s) or buttongroupbox and the effects parent which could be disabled.

Otherwise another solution woul

[2017-04-03 17:35] lassoan commented on #143
What would you show in read-only mode? Only the segment list?

[2017-04-03 18:05] che85 commented on #143
Showing the buttons and everything is fine. I would just disable the mentioned components.

[2017-04-03 18:08] che85 commented on #143
I would almost go that far and set an attribute for vtkMRMLSegmentationNodes to be readonly.

That's how I am doing it right now in Quantitative Reporting

[2017-04-03 18:43] che85 commented on #143
It would also be great to either expose the `SegmentsTableView` to the developer because I am currently setting the readonly for that as follows:

[code]

otherwise it could just be implemented with the readonly in the Segment Editor itself so that the developer don't need direct access to `SegmentsTableView`

[2017-04-03 18:58] che85 commented on #130
- [ ] add link to documentation

[2017-04-04 03:39] lassoan commented on #143
Icons fixed (they are nicer and more consistent; no white background in any of them).

You need to have a widget in the editor widget that can expand (otherwise the effect list would jump up/down depending on what effect you select). This expanding widget was the options groupbox, but now I hide it completely and add an invisible frame instead.

[2017-04-04 03:40] lassoan commented on #143
I've probably committed the changes after the nightly build cutoff time, so you'll see these changes on Wednesday's nightly build.

[2017-04-04 03:43] lassoan opened #152 "Making segmentation in segment editor read-only"
See discussion in https://github.com/QIICR/QuantitativeReporting/issues/143

-------

che85 commented 10 hours ago
@lassoan I just noticed that it would be great to have a read only mode for the Segment Editor. In case that we want to load a "completed" SR, the user should neither be able to add/remove any segments nor modify any of the segments. Therefore I would suggest to expose to the develope

[2017-04-04 03:44] lassoan commented on #143
This issue is getting very long. Starting new discussion about read-only editor in #152.

[2017-04-04 03:51] lassoan commented on #152
@che85

Markups and Table nodes have a "Locked" attribute. If a node is locked then you cannot edit it on the GUI (editors check the value of this attribute and disable editing). The same idea could be applied to Segmentation nodes.

Would you like to prevent users from editing your segmentation in the standard Segment Editor module?
Would you like to prevent users from unlocking your segmentation

[2017-04-04 13:43] che85 commented on #152
@fedorov What are your thoughts on that? I am no sure. If a user saved a report (not completed) then users should be able to load and continue working on the segmentations. If the SR was completed, a segmentation should be locked and not further modification should be allowed.

[2017-04-05 18:46] che85 opened #153 "Loading SR with multiple referenced series"
loads only segmentation and measurements, but no referenced series

reported by @chribaue

[2017-04-05 19:26] che85 commented on #149
duplicate of #153

[2017-04-05 19:27] #149 closed

[2017-04-05 19:44] che85 commented on #143
@lassoan Thanks for the icons. Looks far better!

[2017-04-05 19:48] che85 commented on #143
@lassoan Can you also expose `SegmentationNodeComboBox` and `masterVolumeNodeSelector`?

[2017-04-05 20:12] che85 commented on #143
@lassoan And please don't forget to expose the `SegmentsTableView` since I need this as well for reacting to segment selection changes

[2017-04-05 20:50] lassoan commented on #143
Could I expose table and node selector methods and events that you need on the editor widget's API instead of exposing the widgets themselves?
1. It would make the widget simpler to use for developers.
2. We could make sure those custom methods and events remain functional, even if internals of the editor widget changes.
3. We could prevent any potential misuse (unexpected changes in the internal

[2017-04-05 20:58] che85 commented on #143
That's fine. I need to do the following:

[code]

[code]

[code]
Maybe you can add some functionality for selecting a specific segment via index from the SegmentTable and providing a getter for getting the selected index?

[2017-04-06 02:28] lassoan commented on #143
Added the missing APIs - see https://github.com/Slicer/Slicer/commit/538f9f1ad9ade8f6f806e1190d9b2e7b17c549e5

To select n-th segment, use editorWidget.setCurrentSegmentID(segmentation.GetNthSegmentID(n)).

[2017-04-06 15:02] che85 commented on #143
@lassoan Thanks for all the work. It seems not to be in todays nightly build so I will test tomorrow ant let you know.

[2017-04-06 18:43] #142 closed

[2017-04-07 15:01] fedorov opened #155 "Replace inputDICOMList with inputDICOMDirectory for SEG converter"
Exceedingly long command line can cause problems on Windows

https://github.com/QIICR/QuantitativeReporting/blob/master/Py/QuantitativeReporting.py#L482

[2017-04-07 15:07] che85 commented on #155
question from @chribaue

references scan in the same directory and that there are no other dicom
files in that folder?

[2017-04-07 15:09] che85 commented on #155
As far as I know, Slicer organizes everything on the filesystem in studies/series. So assuming that all images belong to the same series, they should be in the same directory and no temporary copy would be needed.

I will look into this and get back to you.

[2017-04-07 15:14] chribaue commented on #155
Answering my own question: When importing Dicom files into Slicer, you have the option to only add links to these files to the Slicer Dicom database instead of copying them. And we cannot make any assumptions on how the Dicom files were organized before importing them to Slicer.

[2017-04-07 15:31] che85 commented on #152
@lassoan I tested with most recent nightly and I noticed one thing:

Assuming I have a segmentation with two segments loaded in the segment editor and running the following code:
[code]
After selection of a segment from the table, the SegmentEditor is not anymore readonly.

Other than that an active effect stays activated after setting readonly to True which mustn't be allowed.

[2017-04-07 15:34] pieper commented on #155
@chribaue you are right - DICOM has no standard requirement for directories only containing a single series.  In fact, the standard for external storage (e.g. dvd) is explicit that you cannot rely on that organization and need to either look at the files or use the DICOMDIR.  Slicer doesn't use the DICOMDIR because it's often not available when you get the files from a scanner or other source dire

[2017-04-07 15:36] fedorov commented on #155
Yes, we cannot rely on one directory per series.

What we can do is add an option to pass the list of DICOM files in the metadata JSON. Let's think about this option.

[2017-04-09 21:45] lassoan commented on #152
Fixed in r25913.

[2017-04-09 21:47] lassoan commented on #152
Do you prefer to keep tickets open until they are verified?
We could add a new ticket state (Test) that indicates that the development is completed and the code is ready for testing.

[2017-04-10 18:33] che85 commented on #152
Works for me! Thanks a lot to @lassoan

[2017-04-10 18:33] #152 closed

[2017-04-10 21:55] DharmendraModi opened #156 "DICOM images are not loaded in to QR getting following error"
I want to draw measurements and export SR as TID1500 report.

I have installed slicer, and enabled Quantitative Reporting. After loading the images the Segmentation is not getting enabled.

I see following details.
![segmentationdoesnnotenable](https://cloud.githubusercontent.com/assets/27244473/24884331/e501be7e-1e16-11e7-8cdf-8f44a65fd84c.jpg)

Switch to module:  "QuantitativeReporting"
QSqlData

[2017-04-10 22:39] che85 commented on #156
@DharmendraModi Thanks for reporting. This is related to changes in the SegmentEditor. https://github.com/QIICR/QuantitativeReporting/pull/154 addresses this issue.

[2017-04-11 01:17] #153 closed

[2017-04-11 02:50] DharmendraModi commented on #156
Thank you for your help. Please let me know when it is resolved.

[2017-04-11 03:03] fedorov commented on #156
The pull request @che85 mentioned has been merged. If you use the module from source, you can checkout the latest version and try again!

[2017-04-11 15:04] che85 commented on #156
@DharmendraModi If you want, go ahead and install Slicers most recent nightly build. I just tested it and it works fine for me. Therefore closing this issue.

[2017-04-11 15:25] DharmendraModi commented on #156
I just downloaded it, I am able to load images, but when I try to save Report. I get error "QuantitativeReportWidget' object has not attribute 'seiresNumber'
![noseriesnumber](https://cloud.githubusercontent.com/assets/27244473/24916832/56a27626-1ea9-11e7-8d4a-b427c705e76d.jpg)

[2017-04-11 15:27] DharmendraModi commented on #156
Also the DICOM Heder Sutdy ID and Patient Name still are not being displayed.
![alsostudyid and patientname stay blank](https://cloud.githubusercontent.com/assets/27244473/24917002/cbbec522-1ea9-11e7-8d57-d2de2aa5639c.jpg)

[2017-04-11 15:29] che85 commented on #156
@DharmendraModi Can you share those datasets or are they confidential?

[2017-04-11 15:31] che85 opened #157 "Patient information are not displayed/updated"
reported by @DharmendraModi

[2017-04-11 15:33] che85 commented on #156
@DharmendraModi I created another issue for that (https://github.com/QIICR/QuantitativeReporting/issues/157)

[2017-04-11 15:35] DharmendraModi commented on #156
Actually they are confidential, I tried the retrieve test data, but I got bellow error.
I will try another data set.

File "C:/Users/dharmendra.modi/AppData/Roaming/NA-MIC/Extensions-25914/Quantit
ativeReporting/lib/Slicer-4.7/qt-scripted-modules/QuantitativeReporting.py", lin
e 134, in loadTestData
    from SEGExporterSelfTest import SEGExporterSelfTestLogic
ImportError: No module named SEGExport

[2017-04-11 15:36] che85 commented on #156
Ok seems like I invented this bug with the last PR since I removed the SEGExporterSelfTest. I will fix this quickly and get back to you.

[2017-04-11 15:43] che85 commented on #157
@DharmendraModi Are you using the extension from source of from the ExtensionManager?

[2017-04-11 15:51] che85 commented on #157
@lassoan I need to observer onMasterVolumeNodeChanged of the SegmentEditorWidget in order to retrieve patient information for a) displaying them in QuantitativeReporting and b) creating the report. You removed the access to it in https://github.com/Slicer/Slicer/commit/538f9f1ad9ade8f6f806e1190d9b2e7b17c549e5

[2017-04-11 16:09] DharmendraModi commented on #157
Hi Christian,

I am using Extension Manger, how do I load it from source.

On Tue, Apr 11, 2017 at 11:51 AM, Christian Herz <notifications@github.com>
wrote:

[2017-04-11 17:13] che85 commented on #157
@DharmendraModi

1. Download  and unzip https://github.com/QIICR/QuantitativeReporting/archive/master.zip
2. Go to your Slicer Application Settings
![image](https://cloud.githubusercontent.com/assets/10195822/24921226/18f89c92-1eb8-11e7-8c95-f4fd9a80385b.png)
3. Go to `Modules`
![image](https://cloud.githubusercontent.com/assets/10195822/24921246/2fa5cf3c-1eb8-11e7-8f0c-c9ad91585dd8.png)
4. If you

[2017-04-11 17:18] che85 commented on #157
@DharmendraModi but still it wouldn't help you right now because QuantitativeReporting depends on the SegmentEditor where changes (if made) will be available in the next nightly build of Slicer once committed/merged.

[2017-04-11 17:19] DharmendraModi commented on #157
Thank you for all your help. Really Appreciated. I will try tomorrow.

[2017-04-12 14:08] DharmendraModi commented on #156
Hi Christian,

I still get same error. Since, I couldn't load test data, I loaded another data set, but same error. I can't save report. Please view attached snap.

![savereporterror](https://cloud.githubusercontent.com/assets/27244473/24961713/b2ae3888-1f67-11e7-84d5-6a3d8ab973f8.jpg)

[2017-04-12 14:49] che85 commented on #156
@DharmendraModi It's not yet merged. I am waiting for @lassoan to comment on my feature request. I will let you know once I know it will be ready.

[2017-04-12 14:53] fedorov commented on #156
@DharmendraModi sorry for the troubles. We appreciate your feedback and patience.

[2017-04-12 21:04] lassoan commented on #156
`> I am waiting for @lassoan to comment on my feature request. I will let you know once I know it will be ready.`

Just to make sure I haven't missed it - which feature request?

[2017-04-12 21:08] che85 commented on #156
@lassoan It was more a comment than a feature request. Sorry for the confusion.

https://github.com/Slicer/Slicer/commit/538f9f1ad9ade8f6f806e1190d9b2e7b17c549e5#diff-7c7eec0c29e48a2151fe45095d3c870fL224

[2017-04-14 14:59] #157 closed

[2017-04-14 15:48] che85 commented on #157
@DharmendraModi Everything should be working in the next nightly build coming up. Thanks for your patience and especially for reporting it to us!

[2017-04-14 17:34] fedorov commented on #156
@DharmendraModi this issue is expected to be resolved in the today's Slicer nightly. Can you please let us know if it is working for you, so we can close this issue?

[2017-04-17 14:51] DharmendraModi commented on #156
Thank you. I am successfully able to Retrieve test data and save SR.

On Fri, Apr 14, 2017 at 1:34 PM, Andrey Fedorov <notifications@github.com>
wrote:

[2017-04-17 14:56] che85 commented on #156
@DharmendraModi Happy to hear this! I am closing this issue then.

[2017-04-17 14:56] #156 closed

[2017-04-21 16:51] fedorov commented on #129
@lassoan when can I expect progress on this issue?

[2017-04-21 20:48] che85 commented on #151
fixed in #154

[2017-04-21 20:48] #151 closed

[2017-04-22 02:25] lassoan commented on #129
I'm making progress but keep sidetracked by smaller or urgent tasks. I'll allocate more time for this and send updates more frequently.

[2017-04-24 01:11] fedorov commented on #129
Andras, it would be great to have some kind of estimate of when you expect this issue to be addressed. Among other things, it is in the critical path for @chribaue work.

[2017-04-24 15:32] che85 opened #160 "Non-ASCII characters in watchbox cause UnicodeEncodeError"

[2017-04-24 20:51] fedorov opened #161 "Add support of quantitation plugins to SegmentStatistics"
From an email exchange:

@fedorov:

@lassoan:

@chribaue:

[2017-04-25 16:10] #160 closed

[2017-04-25 16:11] #143 closed

[2017-04-25 16:12] che85 commented on #144
I am going to close this issue. Saving space has improved a lot.

[2017-04-25 16:12] #144 closed

[2017-04-25 16:20] #130 closed

[2017-04-25 16:22] che85 commented on #125
@fedorov Shall we close this issue or do we want to provide this functionality?

[2017-04-25 16:31] che85 commented on #74
Any further thoughts on this issue, otherwise let's close it?

[2017-04-25 16:37] fedorov commented on #74
@che85

Yes, I agree, I don't know of a better way.

I have to admit I don't recall what exactly I was thinking at the time I put this in the initial issue. I think maintaining non-DICOM representation in some temporary space is too cumbersome, so let's not do it.

[2017-04-25 16:39] fedorov commented on #125
I think it would be good to provide this functionality, but it is not a high priority.

[2017-04-26 19:32] fedorov opened #162 "SegmentedPropertyTypeModifier seems to be ignored while loading terminology from JSON"
SegmentedPropertyTypeModifier is not showing up in the GUI, although it looks like it is present in the JSON file produced by the dcmqi converter.

Test dataset:

* MR series: http://slicer.kitware.com/midas3/folder/4434
* SEG series: http://slicer.kitware.com/midas3/folder/4435 (any of the files in this folder will do)

Output of segimage2itkimage (relevant part):
[code]

Presentation in Slicer S

[2017-04-28 14:41] cpinter commented on #162
Is it maybe an update issue? What happens if you click another property then back?

[2017-04-28 14:47] cpinter commented on #162
I'm trying to build DCMQI so that I can try it (I have a build error, but I'll try some things first).

In the meantime a question: you mention in the title that the terminology was loaded from Json, but I see no Json file. Can you attach that? Or you mean the segment descriptor Json that the converter creates from the SEG files?

[2017-04-28 14:58] fedorov commented on #162
Yes, I just looked at the JSON file that was produced by the converter.

If you use the current master of Slicer, you will need to make sure you use the latest master of dcmqi, since otherwise there will be an API mismatch with dcmtk, due to the upgrade of dcmtk in Slicer last night.

[2017-04-28 15:04] cpinter commented on #162
Yes, I updated DCMQI but then I realized I need to rebuild DCMTK

[2017-04-28 15:49] cpinter commented on #162
I updated and built eberything, and loaded the dataset. I confirm that there is no type modifier showing up. However I canont find the json file. There is a folder created
c:\Users\pinter\AppData\Local\Temp\QIICR\SEG\2017-04-28_114148
and I think it should be there, because that's where the json files were put before, and the date in the folder name indicates it should contain it. But it's all emp

[2017-04-28 15:53] fedorov commented on #162
I think I experienced the same issue. I don't know if the temp dir is removed by our code, or something else, and didn't want to spend time investigating, so I just took the command line from the log, and re-ran it manually to get the JSON.

Now that I looked into the code, it does appear that the temp dir is cleaned up upon completion: https://github.com/QIICR/QuantitativeReporting/blob/master/Qu

[2017-04-28 15:54] cpinter commented on #162
Thanks! Probably I'll just comment that out for debugging.

[2017-05-01 15:42] cpinter commented on #162
I could work on this a bit. The cleanupTemporaryData function is called when saving a report, not when loading a SEG.
@che85 If you have any comments, please don't hold it back. You can easily save half an hour for me by a half-minunte comment :) Thanks

[2017-05-01 15:45] fedorov commented on #162
@cpinter Christian is on vacation until the end of this week. If you like, we can wait until he returns? Next week is fine, there is no extreme urgency.

[2017-05-01 15:50] cpinter commented on #162
I can keep trying for a bit more. I managed to quickly save the json file, but it did not contain modifiers. Can you tell me which series is the one you had the json for? Thanks!

[2017-05-01 15:52] cpinter commented on #162
Found it, nevermind! left_right_gm_wm_snomedhas modifiers.

[2017-05-01 15:53] fedorov commented on #162
right - sorry - only those that have "snomed" in the name contain modifiers!

[2017-05-01 15:56] cpinter commented on #162
One more question (sorry for the flood!):
Looking at the logic code, modifiers were supported by looking for Modifier tags under SegmentedPropertyTypeCodeSequence. Maybe the convention has been changed sometime in the past, but the info was not propagated. Or just another faulty assumption on my part... Should we support more types of mata.json structures, or should I just make it handle the newes

[2017-05-01 16:00] fedorov commented on #162
No worries re flood :)

I don't think this part changed, but of course I could be wrong. Modifiers are supposed to be at the same level as the category/type. The organization is defined by this section of the schema: https://github.com/QIICR/dcmqi/blob/master/doc/schemas/seg-schema.json#L109-L141. I think fixing modifier is sufficient for now.

[2017-05-01 16:05] cpinter commented on #162
You're right, after another look, the code also suggests it was always like that. So my job will be somewhat harder than it looked a few mintes ago :)

[2017-05-01 16:16] cpinter commented on #162
It was a simple fix at the end:
https://github.com/Slicer/Slicer/commit/1c4e327436dc280dad4fddff8a2f47a714fdc2a3

Type modifier is now correctly populated, at least on my end. Please confirm on yours.

[2017-05-01 16:18] fedorov commented on #162
Nice! I will check in the tomorrow's nightly, since I don't have a recent Slicer build. Thank you!

[2017-05-01 18:06] chribaue commented on #161
Hi Andras, Andrey,

adding a static register method to SegmentStatisticsLogic in order to compute additional measurements would be easy, indeed. However, there are two other issues we should also consider in this context.

Currently, the only interface in the SegmentStatisticsLogic to trigger computation (SegmentStatisticsLogic.computeStatistics) calculates all measurements for all segments, which

[2017-05-01 18:09] chribaue commented on #155
Any new thoughts on this?

I could work around this issue by copying all dicom files to a temporary directory, if it's too troublesome to change the interface of dcmqi.

[2017-05-01 18:11] fedorov commented on #161
@chribaue I agree with both points. It makes a lot of sense to support those scenarios in SegmentStatistics. For (b), I think we should do both - allow selection of feature calculators in SegmentStatisticsLogic, and also have an option to expose selection to the user. If there is a convention about defining groups of measurements, and controlling enabling/disabling of the individual measurements a

[2017-05-01 18:13] fedorov commented on #155
@chribaue yes, I think it is best to copy for now. There is a very long list of issues/features that need to be addressed for dcmqi, and we have very limited resources for the development (and at the moment, @che85 is on vacation, so it's just me!), so we need to prioritize.

[2017-05-01 20:31] lassoan commented on #161
Yes, I agree.

Probably it's better to define plugins by using a class interface instead of a single functions. Similarly how it is done in the DICOMPatcher module: [DICOMPatcherRule](https://github.com/Slicer/Slicer/blob/master/Modules/Scripted/DICOMPatcher/DICOMPatcher.py#L187) is the base class for all rules.

To choose which measurements to perform, a list of checkboxes shown in an Advanced se

[2017-05-02 16:14] chribaue commented on #161
@lassoan: I would not need user-configurable options for my task, but we should leave this option open.

Right now I'm thinking of something like this:

    class SegmentStatisticsCalculatorBase(object): # base class for calculators
      def __init__(self):
        self.name = ""
        self.keys = () # all supported measurements
        self.requestedKeys = () # all measurements that will be ca

[2017-05-02 16:16] fedorov commented on #161
We should see how we can make this work with this library - it will be in demand, and it is a good use case to test the design: https://github.com/radiomics/pyradiomics

Some of the options there will indeed have parameters.

[2017-05-02 16:27] lassoan commented on #161
@chribaue It looks good to me!

[2017-05-02 16:33] fedorov commented on #161
@chribaue I suggest that semantics of the input volume ("greyscale") should be separate from the semantics of the measurement ("count") and separate from the measurement units ("mm3"). It is not a good idea to parse these out of the current "keys", and it will not generalize. We can have default values: when input image is loaded not from DICOM and has no information about its content, we can then

[2017-05-02 17:21] chribaue commented on #161
@fedorov I agree that each measurement should not just have a short (hard to interpret) "key", but an actual longer understandable name and proper units. And DICOM codes.

But we still need a short label for the produced measurement table's header, that should represent the most important information to the user.

I think the reason why LabelStatistics appends measurements with "GS" "LM" or "CS" i

[2017-05-02 17:22] chribaue commented on #161
@ fedorov I took a quick look a https://github.com/Radiomics/SlicerRadiomics/blob/master/SlicerRadiomics/SlicerRadiomics.py and I think it would fit into the current design.

[2017-05-02 17:28] lassoan commented on #161
I'm working on adding column metadata support to table nodes, such as quantity, unit, description, which may be used for generating tooltips or detailed reports. So, instead of a list of strings for keys we'll probably have a list of dictionaries that will store the key but also this additional metadata.

[2017-05-02 17:33] chribaue commented on #161
@lassoan this would help. When will it be ready to use?

[2017-05-02 19:53] lassoan commented on #161
I try to prepare a first testable version by the end of the week.

[2017-05-02 20:08] chribaue commented on #161
Okay, I'll start using keys for now and we'll replace them by something else later

[2017-05-02 20:17] fedorov commented on #161
Yes, I agree. Then this key can be used to query semantics of the produced measurement from the plugin at runtime.

[2017-05-08 14:43] fedorov commented on #162
Confirmed the issue is resolved in today's nightly. Thank you!

[2017-05-08 14:43] #162 closed

[2017-05-08 15:46] che85 commented on #155
Besides making that work with dcmqi, I could add a drop field to the meta generator so that users can just drop the files there and those absolute paths will be added to the json output. @fedorov what do you think?

[2017-05-08 20:19] chribaue commented on #161
I've got a first version of the Segment Statistics Module with plugins working and would like to solicit some input from you guys on how the user interface should look like. I attached a screenshot of the current version.

As mentioned earlier, the different plugins are subclasses of SegmentStatisticsCalculatorBase, each of them has a list of keys (measurements it can calculate) and requestedKeys

[2017-05-08 22:12] lassoan commented on #161
It looks very nice! Maybe you could add a "default" option in addition to "all" and "none" (plugins may have metrics that are rarely needed or takes a long time to compute, which may be disabled by default).

Where do you save the status of the checkboxes. Probably the best would be to save them to a parameter node (vtkMRMLScriptedModuleNode - http://apidocs.slicer.org/master/classvtkMRMLScriptedM

[2017-05-09 14:33] chribaue commented on #161
Right now the state is stored in the calculator classes themselves, but I like the idea of storing it separately in a mrml node that all can access; plus it allows storing the user's configuration as part of the mrml scene.

What do you think makes more sense:
(a) Having a singleton instance of vtkMRMLScriptedModuleNode like in https://github.com/Slicer/Slicer/blob/ffd102a4cb353d66872ecbd06d210edd

[2017-05-09 14:39] lassoan commented on #161
Yes, similarly to CLIs, allow the user to select from multiple parameter nodes (presets). Using a singleton node would impose too many limitations (there could be side effects when you load a scene or use the module from another module etc). See for example how the parameter node is implemented in [PlusRemote](https://github.com/SlicerIGT/SlicerIGT/blob/master/PlusRemote/PlusRemote.py#L63-L83).

[2017-05-09 14:43] fedorov commented on #161
@chribaue thanks for the update! Looks great for the initial iteration!

I have few suggestions (for now or for later):

* we could consider a different widget for displaying and selecting the individual features. I think that perhaps a table, similar to what was done in selecting terminology for segments, with a lookup field at the top, and with added checkboxes for each row, could be a better wi

[2017-05-09 15:12] chribaue commented on #161
@fedorov

I think the problem with designing the widget for configuring a plugin is that different plugins may have different needs. Right now, it's only about selecting features. But other plugins may also need setting of other parameters to configure the feature calculation. That's why in my current design the different plugins are able to create their own configuration widget and the base class

[2017-05-09 16:06] fedorov commented on #161
Yes, I agree. I was just suggesting that a table/list with a search bar on top could be a more convenient default widget

With more modules, any approach would become cumbersome. However, if you consider that plugin selector should only occupy a portion of the module panel, it could easier to control that appearance with a tabbed view. Combined with the list widget I suggested earlier, we could po

[2017-05-09 16:11] fedorov commented on #161
@chribaue the idea to show plugin list/dropdown is a good one too!

[2017-05-09 16:33] lassoan commented on #161
Tabbed view only works up to 3-4 tabs, because tabs require lots of horizontal space and the module widget is relatively narrow. So, I wouldn't recommend to have a tab for each plugin. Vertical tabs might work somewhat better, but those are not very easy to use either. A sortable, filterable (show all or show metrics provided by a selected plugin) table might be work well. You could show options f

[2017-05-09 16:55] cpinter commented on #161
Great discussion and progress!

I like the plugin interface and the GUI as well (we can change how we present the list of checkboxes quite easily later if needed). I also agree that a non-singleton parameter node would be better. It is the Slicer convention with good reason (e.g. loading scenes, reusability, presets).

One question: fractional labelmap support is coming soon (basically once OpenGL

[2017-05-09 17:05] fedorov commented on #161
Well, to keep it in spirit of "simplest and easiest", I would leave fractional label maps for later.

[2017-05-09 17:53] cpinter commented on #161
The reason I brought it up is that there is a new design being finalized right now, and if we don't think about this, then it may be really hard to add later. I'd like to make sure that this design accommodates it in some ways, and if it doesn't, then we can potentially make some slight changes to facilitate fractional lablemaps in the future.

[2017-05-09 18:18] chribaue commented on #161
The calculator plugins get a handle to the segmentation and the grayscale volume and then return some measurements for the segments of the segmentation. It's up to the plugin to decide if it wants to obtain statistics based on the segments binary labelmap representation, closed surface representation, or fractional labelmap representation.
Right now, there's one basic calculator for Labelmaps and

[2017-05-09 18:20] cpinter commented on #161
Thanks! So I guess the way to go will be to add a fractional labelmap variant to some of the plugins as new plugins. Sounds good to me!

[2017-05-09 21:43] chribaue commented on #161
@fedorov

Here's the current code:
https://github.com/chribaue/Slicer/blob/update-LabelStatistics/Modules/Scripted/SegmentStatistics/SegmentStatistics.py

It's not finished yet, but registering plugins works and parameters are now stored in a vtkMRMLScriptedModuleNode.

My plans for the next steps are:
(a) improve the interface for the Plugins to enable requesting information about the measurement

[2017-05-09 22:42] lassoan commented on #161
At least add a test for the main success scenario (or anything that you would feel embarrassed about if it was not working because you did not test it).

There is already a test in the SegmentStatistics (test_SegmentStatisticsBasic) that may need only a few small additions to test that you can enable/disable computation of certain metrics and you can register a plugin.

[2017-05-11 15:33] che85 opened #163 "HTML/PDF report generation from SR including screenshots of findings"
- [x] add measurements from SR TID 1500
- [x] create centered screenshot of each measurement (coronal, sagittal, axial)
- [ ] (optional) add further information from SR TID 1500 like algorithm name

Creation of temporary xml for html creation by using dsr2xml (dcmtk) for simplifying extraction process

[2017-05-19 19:54] fedorov commented on #161
@lassoan I hate to remind you again, but 17 days ago you said you would prepare the first stable version in a week, and there were no updates. Is this harder than you expected, or you just were not able to allocate the time?

[2017-05-19 21:29] lassoan commented on #161
Sorry, it's just allocating time. Not too much work left, I just need an uninterrupted day or so and it's difficult to find that. Let's have a meeting late next week to discuss status and next steps. Would Thursday anytime before 3pm or Friday anytime work for you?

[2017-05-19 21:30] chribaue commented on #161
I'd like to get your input on two points regarding the class interfaces:

(a) We wanted a way to obtain more meaningful information about the type of measurement including a readable name, a description, units, and dicom codes. I'd propose to add to the measurement calculator class a method `getMeasurementInfo` that returns a dictionary containing this information. So it's easy to add extra inform

[2017-05-19 21:56] fedorov commented on #161
Did you consider to return the complete dictionary, including the measurements, as the output of the calculator? If it is returned in a separate call, I think it will be more error-prone. Why would you want to separate those?

I suggest we stay away from "grayscale". How about "imageNode" and "segmentationNode"? I don't like it even when it is used for variable names.

I also just today looked ove

[2017-05-22 15:14] chribaue commented on #161
I need to query for certain information before actually calculating something or having actual data available (e.g. the name of the measurement) to build the UI. And some information will only be available once a specific dataset has been provided (e.g .unit of the measurement). But you're right, returning the units should be part of the measurement result. I guess, we'll split it up, getMeasureme

[2017-05-22 15:21] fedorov commented on #161
Maybe this is also something that is easier to discuss on Thursday when we talk.

[2017-05-22 19:43] lassoan commented on #161
I agree that grayscale may not be the best name, as it refers to how it is displayed (if a non-gray colormap is used then it is quite inaccurate). Maybe "scalar image" or "intensity image" would be a bit more correct. Or, simply "image" if the plugin can compute metrics for color/vector images, too.

Grayscale volume may be different from the labelmap volume, because it only includes that part of